﻿@model UserViewModel
<script src="~/Scripts/jquery.mask.js"></script>
<script type="text/javascript">

    $(document).ready(function () {

        $("#btnsubmit").click(function () {
           // debugger;
            $('#hdnTitle').val('');
            $('#hdnTitle').val($('#drptitle option:selected').text())
        });
    });
    $(function() {
        $("#EmailAddress").change(function() {
            $("#UserName").val($("#EmailAddress").val());
        });

        $('#ConfirmEmailAddress').bind("cut copy paste", function(e) {
            e.preventDefault();
        });
        $("#PhoneNumber").mask("(999) 999 - 9999");
        $("#PhoneNumber").on("blur", function () {
            var last = $(this).val().substr($(this).val().indexOf("-") + 1);

            if (last.length === 3) {
                var move = $(this).val().substr($(this).val().indexOf("-") - 1, 1);
                var lastfour = move + last;

                var first = $(this).val().substr(0, 9);

                $(this).val(first + '-' + lastfour);

            }
        });


        //zipcode validation
        $('#ZipCode').mask("99999-9999");
        $("#ZipCode").on("blur", function () {
            var last = $(this).val().substr($(this).val().indexOf("-") + 1);

            if (last.length === 3) {
                var move = $(this).val().substr($(this).val().indexOf("-") - 1, 1);
                var lastfour = move + last;

                var first = $(this).val().substr(0, 9);

                $(this).val(first + '-' + lastfour);

            }
        });
    });
</script>
<section id="editUserProfile" style="width:960px;">
    <h4 style="text-align:center;">Edit user account.</h4>
    @using (Html.BeginForm("SaveEditUserProfile", "Account", FormMethod.Post, new { style = "margin:auto;" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        @Html.HiddenFor(m => m.Title, new { @id = "hdnTitle" });

<div class="container-fluid">
    <div class="row">
        <span class="col-md-2 text-right">
            @Html.LabelFor(m => m.FirstName)
        </span>
        <span class="col-md-4">
            @Html.HiddenFor(m => m.UserID)
            @Html.HiddenFor(m => m.AddressModel.AddressID)
            @Html.TextBoxFor(m => m.FirstName, new { placeholder = "First Name" })
        </span>
        <span class="col-md-2 text-right">
            @Html.LabelFor(m => m.MiddleName)
        </span>
        <span class="col-md-4">
            @Html.TextBoxFor(m => m.MiddleName)
        </span>
    </div>
    <div class="row">
        <span class="col-md-2 text-right">
            @Html.LabelFor(m => m.LastName)
        </span>
        <span class="col-md-4">
            @Html.TextBoxFor(m => m.LastName)
        </span>
        <span class="col-md-2 text-right">
            @Html.LabelFor(m => m.Title)
        </span>
        <span class="col-md-4">
            @Html.DropDownListFor(m => m.TitleId, Model.AllTitles, "Select Title", new { @id = "drptitle" })
        </span>
    </div>
    <div class="row">
        <span class="col-md-2 text-right">
            @Html.LabelFor(m => m.Organization)
        </span>
        <span class="col-md-4">
            @Html.TextBoxFor(m => m.Organization)
        </span>
        <span class="col-md-2 text-right">
            @Html.LabelFor(m => m.PhoneNumber)
        </span>
        <span class="col-md-4">
            @Html.TextBoxFor(m => m.PhoneNumber, new { id = "PhoneNumber" })
        </span>
    </div>
    <div class="row">
        <span class="col-md-2 text-right">
            @Html.LabelFor(m => m.AddressLine1)
        </span>
        <span class="col-md-4">
            @Html.TextBoxFor(m => m.AddressLine1)
        </span>
        <span class="col-md-2 text-right">
            @Html.LabelFor(m => m.City)
        </span>
        <span class="col-md-4">
            @Html.TextBoxFor(m => m.City)
        </span>
    </div>
    <div class="row">
        <span class="col-md-2 text-right">
            @Html.LabelFor(m => m.AllStates)
        </span>
        <span class="col-md-4">
            @Html.DropDownListFor(m => m.SelectedStateCd, Model.AllStates, "Select State")
        </span>
        <span class="col-md-2 text-right">
            @Html.LabelFor(m => m.ZipCode)
        </span>
        <span class="col-md-4">
            @Html.TextBoxFor(m => m.ZipCode, new { id = "ZipCode" })
        </span>
    </div>
    <div class="row">
        <span class="col-md-2 text-right">
            @Html.Label("Time Zone")
        </span>
        <span class="col-md-4">
            @Html.DropDownListFor(m => m.SelectedTimezoneId, Model.AllTimezones, "Select Timezone")
        </span>
        <span class="col-md-2 text-right">
            @Html.LabelFor(m => m.EmailAddress)
        </span>
        <span class="col-md-4">
            @Html.TextBoxFor(m => m.EmailAddress)
        </span>
    </div>
    <div class="row">
        <span class="col-md-2 text-right">
            @Html.LabelFor(m => m.UserName)
        </span>
        <span class="col-md-4">
            @Html.TextBoxFor(m => m.UserName, new { @tabindex = -1, @style = "background: #eee", @readonly = "true" })
        </span>
        <span class="col-md-2 text-right">
            @Html.LabelFor(m => m.ConfirmEmailAddress)
        </span>
        <span class="col-md-4">
            @Html.TextBoxFor(m => m.ConfirmEmailAddress)
        </span>
    </div>
</div>

        if (Model.SelectedRoles != null && Model.SelectedRoles.IndexOf("OperatorAccountRepresentative", 0) != -1 || Model.SelectedRoles.IndexOf("InternalSpecialOptionUser", 0) != -1)
        {
        <div class="container-fluid">
            <div class="row" style="margin-top: 15px;">
                <span class="col-md-2 text-right">
                </span>
                <span class="col-md-4">
                    <input type="button" id="manageOarFhas" value="Manage FHA Numbers" onclick="window.location.href = '/Account/ManageOperatorFhas'" />
                </span>
            </div>
        </div>
        }
        <div class="container-fluid">
            <div class="row" style="margin-top: 15px;">
                <span class="col-md-2 text-right">
                </span>
                <span class="col-md-4">
                    <input type="submit" value="Continue" />
                    <input type="button" value="Cancel" title="Cancel" onclick="location.href='@Url.Action("ListUsers", "Account", new { searchText = TempData["searchText"], page = TempData["page"], sort = TempData["sort"], sortdir = TempData["sortdir"] })'"   />
                </span>
            </div>
        </div>
    }
</section>