﻿@using HUDHealthcarePortal.BusinessService
@model IEnumerable<UserViewModel>

@{
    var grid = new WebGrid(Model, canPage: true,  rowsPerPage: 10, selectionFieldName: "selectedRow", ajaxUpdateContainerId: "gridContent", ajaxUpdateCallback: "styleGrid");
}

<div id="dialogNotesDetail"></div>
<div class="row">
    <span class="col-md-12  text-right" style="float:right;">
        @if (Model != null && Model.Any())
        {
                @Html.ImageActionLink(UrlHelper.GenerateContentUrl(@"~/Images/icon_excelBg.jpg", Html.ViewContext.HttpContext), "Export to Excel", (string)ViewBag.ExcelExportAction, "ExcelExport", (object)ViewBag.ExcelActionParam, new { @class = "excelExport" }, null)
        }
    </span>
</div>


<div id="gridContent">
    <div id="gridData">
        @{
            var gridColumns = new List<WebGridColumn>();
            gridColumns.Add(grid.Column("UserName", "User Name", (item) =>
            {
                if (item.IsAllowUserEdit)
                {
                    return Html.ActionLink(((object)item.UserName).ToString(), "GoToEditUserProfileView", "Account", new { id = item.UserID }, null);
                }
                return Html.Raw(string.Format("<label class='fieldLabel'>" + item.UserName + "</label>"));
            }));

            //gridColumns.Add(grid.Column("IsProdUser", "IsProductionUser", (item) =>
            //{
            //    if (item.SelectedRoles != null && item.SelectedRoles.ToUpper().Contains("PRODUCTION"))
            //    {
            //        return Html.Raw(string.Format("<label class='fieldLabel'>Yes</label>"));
            //    }
            //    else
            //    {
            //        return Html.Raw(string.Format("<label class='fieldLabel'>No</label>"));
                    
            //    }
               
            //}));

            gridColumns.Add(grid.Column("SelectedRoles", "Role", style: "description"));
            gridColumns.Add(grid.Column("FirstName", "First Name", style: "description"));
            gridColumns.Add(grid.Column("MiddleName", "Middle Name/Initial", style: "description"));
            gridColumns.Add(grid.Column("LastName", "Last Name", style: "description"));
            gridColumns.Add(grid.Column("Title", "Title", style: "description"));
            gridColumns.Add(grid.Column("Organization", "Organization", style: "description"));
            gridColumns.Add(grid.Column("LenderName", "Lender Name", style: "description"));
            gridColumns.Add(grid.Column("PhoneNumber", "Phone Number", style: "description"));
            gridColumns.Add(grid.Column("AddressLine1", "Address", style: "description"));
            gridColumns.Add(grid.Column("City", "City", style: "description"));
            gridColumns.Add(grid.Column("SelectedStateCd", "State", style: "description"));
            gridColumns.Add(grid.Column("ZipCode", "Zip Code", style: "description"));
            gridColumns.Add(grid.Column("EmailAddress", "Email", style: "description"));
            gridColumns.Add(grid.Column("SelectedTimezone", "User Timezone", style: "description"));

            gridColumns.Add(grid.Column("Login_Time", header: "Current LoginTime", format: (item) => String.Format("{0:MM/dd/yyyy}", HUDHealthcarePortal.BusinessService.TimezoneManager.GetPreferredTimeFromUtc(Convert.ToDateTime(item.Login_Time))) == "01/01/0001" ? "NA" : String.Format("{0:g}", HUDHealthcarePortal.BusinessService.TimezoneManager.GetPreferredTimeFromUtc(Convert.ToDateTime(item.Login_Time)))));

            gridColumns.Add(grid.Column("Logout_Time", header: "Current LogoutTime", format: (item) => String.Format("{0:MM/dd/yyyy}", HUDHealthcarePortal.BusinessService.TimezoneManager.GetPreferredTimeFromUtc(Convert.ToDateTime(item.Logout_Time))) == "01/01/0001" ? "NA" : String.Format("{0:g}", HUDHealthcarePortal.BusinessService.TimezoneManager.GetPreferredTimeFromUtc(Convert.ToDateTime(item.Logout_Time)))));
           
         
            gridColumns.Add(grid.Column("RoleName", "Current Role", style: "description"));
            gridColumns.Add(grid.Column("History", "History", format: (item) => string.IsNullOrEmpty(item.History) ? new MvcHtmlString(String.Empty) : HtmlHelperExt.PopupLink("dialogNotesDetail", HtmlHelperExt.TruncateToString(((object)item.History).ToString(), 30), item.UserID.ToString(), item.History)));
            
            gridColumns.Add(grid.Column("IsRegisterComplete", "Registration Not Complete", style: "description", format: (item) =>
            {
                bool t = item.IsRegisterComplete != true;
                return new HtmlString("<span>" + Html.CheckBoxFor(x => t, new { @disabled = "disabled" }) + "</span>");
            }));
            gridColumns.Add(grid.Column("IsAccountLocked", "Account Locked", style: "description", format: (item) =>
            {
                bool t = item.IsAccountLocked ?? false;
                return new HtmlString("<span>" + Html.CheckBoxFor(x => t, new { @disabled = "disabled", @id = "LockShow_" + item.UserID }) + Html.CheckBoxFor(x => t, new { @style = "display:none", @id = "LockEdit_" + item.UserID }) + "</span>");
            }));
            if (RoleManager.IsAdminRole(UserPrincipal.Current.UserName))
            {
                gridColumns.Add(grid.Column("Deleted_Ind", "Inactive", style: "description", format: (item) =>
                {
                    bool t = item.Deleted_Ind ?? false;
                    return new HtmlString("<span id='inactivecheck'>" + Html.CheckBoxFor(x => t, new { @disabled = "disabled", @id = "InactiveShow_" + item.UserID }) + Html.CheckBoxFor(x => t, new { @style = "display:none", @id = "InactiveEdit_" + item.UserID }) + "</span>");
                }));
                if (RoleManager.IsAdminRole(UserPrincipal.Current.UserName))
                {
                    gridColumns.Add(grid.Column("Action", style: "description", format: (item) =>
                    {
                        if (item.IsAllowUserEdit)
                        {
                            return Html.Raw(string.Format("<a href='#' id='Edit_" + @item.UserID + "' class='edit'>Edit</a>" + "<a href='#' id='Update_" + @item.UserID + "' style='display: none' class='update'>Update</a>" + "<a href='#' id='Cancel_" + @item.UserID + "' style='display: none' class='cancel'>Cancel</a>"));
                        }
                        return null;
                    }));
                }
                
                
            }
        }

        @if (Model.ToList().Count > 0)
        {
            @grid.GetHtml(tableStyle: "webGrid", headerStyle: "header_row", rowStyle: "item_row", alternatingRowStyle: "item_alt_row", selectedRowStyle: "select", mode: WebGridPagerModes.All, firstText: "<< First", previousText: "< Prev", nextText: "Next >", lastText: "Last >>", columns: gridColumns.ToArray())
        }
        else
        {
            <p style="margin-left: 20px;">No Records Found</p>
        }
    </div>
</div>

<script type="text/javascript">
    $(document).ready(
function () {
    styleGrid();
    $("#dialogNotesDetail").dialog({
        title: 'Login History',
        autoOpen: false,
        resizable: true,
        height: '500',
        width: '680',
        show: { effect: 'fade' },
        modal: true,
        draggable: true,
        closeOnEscape: false,
        close: function (event, ui) {
            $(this).dialog("close");
        },
        open: function (event, ui) {
            $(this).load('../Account/LoginDetail', { id: g_modal_paramId });
            if ('@TempData["bShowCloseBtn"]' == "False")
                $(".ui-dialog-titlebar-close").hide();
        },
    });
}
);
</script>
