﻿@{
    ViewBag.Title = "ExceltoDb";
}
@*created by naveen*@
<style>
    .download-btn {
        padding: 20px;
    }

    .inocie-chekbox {
        margin-right: 10px;
    }

    .download-btn button {
        max-width: 320px;
        padding: 10px;
        color: #fff;
        font-size: 16px;
        cursor: pointer;
        border: 0px;
        border-radius: 2px;
        transition: all .3s;
    }

    .download-btn {
        width: 100%;
        text-align: center;
        margin: 30px 0px;
    }

        .download-btn button i {
            margin-right: 5px;
        }

        .download-btn button:focus {
            outline: none;
        }
</style>
<style>
    .file-input button {
        display: inline-block;
        cursor: pointer;
        padding: 9px 14px;
        border-radius: 2px;
        margin-right: 8px;
        width: 120px;
        text-align: center;
        font-size: 16px;
        text-transform: uppercase;
        margin: auto;
        margin-top: 15px;
        transition: all .3s;
        border: 0px;
    }
</style>







<div id="import-box" class="import-cnt">
    @using (Html.BeginForm("ExceltoDb", "Account", FormMethod.Post, new { enctype = "multipart/form-data", role = "form" }))
    {

        <div class="download-btn"></div>
        <div class="send-cld">
            <label><strong>Select File</strong></label>
            <div class="file-input">
                <input type="file" id="File" name="File" accept=".xlsx"><button class="fa fa-upload" type="submit"><i class="fa fa-upload" aria-hidden="true"></i>Upload</button>
                @*<span class="label" data-js-label="">
                        No file selected
                    </span>*@
            </div>
        </div>
    }


    <p>@ViewBag.Message</p>
    @*@if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
        </script>
    }*@
</div>