﻿@model IEnumerable<UserViewModel>
@{
    UserViewModel user = new UserViewModel();
    ViewBag.Title = "Manage Users";
}
<style>
    .toolTip {
        display: block;
        margin: 0 auto;
    }
    a.toolTip:hover {
        background-color: white;
        cursor: pointer;
    }
</style>
<div id="dvContainer">
    <div class="container-fluid">
        <div class="row">
            <span class="content-wrapper col-md-3" style="width: auto;">
                <label for="txtSearch" style="padding-top: 7px;">Enter Search Text</label>
            </span>
            <span class="content-wrapper col-md-2" style="margin-bottom: 5px;">
                <input type="text" id="txtSearch" class="form-control" style="width: auto;" />
            </span>
            <span class="content-wrapper col-md-1">
                <a href="#" class="toolTip" id="txtBtnSearch"><input type="button" class="form-control" value="Search" id="btnSearch" /></a>
            </span>
            <span class="content-wrapper col-md-1" style="margin-left: -20px;">
                <a href="#" class="toolTip" id="txtBtnReset"><input type="button" class="form-control" value="Reset" id="btnReset" /></a>
</span>
        </div>
    </div>
    <br />
    <div class="row">
        <div id="dvListUsers" class="col-md-8">
            @Html.Partial("~/Views/Account/_ListUsers.cshtml", Model)
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        // to check if the Inactive/Active checkbox is changed
        var isUserInactiveChanged = false;
        $("#inactivecheck").live("click", function () {
            isUserInactiveChanged = true;
        });
        $(".edit").live("click", function () {
            var str = $(this).attr("id").split("_");
            var id = str[1];

            var lockEdit = "#LockEdit_" + id;
            var lockShow = "#LockShow_" + id;
            var inactiveEdit = "#InactiveEdit_" + id;
            var inactiveShow = "#InactiveShow_" + id;

            $(lockEdit).show();
            $(lockShow).hide();

            $(inactiveEdit).show();
            $(inactiveShow).hide();

            $(this).hide();
            $("#Update_" + id).show();
            $("#Cancel_" + id).show();
        });

        $(".update").live("click", function () {
            var str = $(this).attr("id").split("_");
            var id = str[1];
            var lockEdit = $("#LockEdit_" + id);
            var lockShow = $("#LockShow_" + id);
            var inactiveEdit = $("#InactiveEdit_" + id);
            var inactiveShow = $("#InactiveShow_" + id);
            if (!lockShow.is(':checked') && lockEdit.is(':checked')) {
                alert("You are not allowed to lockout user.");
                return false;
            }
            if (id != "") {
                if (!lockEdit.is(':checked')) {
                    $.ajax({
                        cache: false,
                        type: "GET",
                        contentType: "application/json; charset=utf-8",
                        url: '@Url.Action("UnlockUser", "Account")',
                        data: { "userId": id },
                        dataType: "json",
                        beforeSend: function () {
                        },
                        success: function (data) {
                            if (data.result == true) {
                                hideAndShowItems(id, lockShow, lockEdit, inactiveShow, inactiveEdit, 'update');
                            } else {
                                alert('There is some error');
                            }
                        }
                    });
                }
                if (isUserInactiveChanged) {
                    $.ajax({
                        cache: false,
                        type: "GET",
                        contentType: "application/json; charset=utf-8",
                        url: '@Url.Action("ActivateOrInactivateUser", "Account")',
                        data: { "userId": id, "isUserInactive": inactiveEdit.is(':checked') },
                        dataType: "json",
                        success: function (data) {
                            if (data.result == true) {
                                hideAndShowItems(id, lockShow, lockEdit, inactiveShow, inactiveEdit, 'update');
                            } else {
                                alert('There is some error');
                            }
                        }
                    });
                }
                if (isUserInactiveChanged) {
                    $.ajax({
                        cache: false,
                        type: "GET",
                        contentType: "application/json; charset=utf-8",
                        url: '@Url.Action("ActivateOrInactivateUser", "Account")',
                        data: { "userId": id, "isUserInactive": inactiveEdit.is(':checked') },
                        dataType: "json",
                        success: function (data) {
                            if (data.result == true) {
                                hideAndShowItems(id, lockShow, lockEdit, inactiveShow, inactiveEdit, 'update');
                            } else {
                                alert('There is some error');
                            }
                        }
                    });
                }
            }
        });

        $(".cancel").live("click", function () {
            var flag = confirm('Are you sure you want to cancel?');
            if (flag) {
                var str = $(this).attr("id").split("_");
                var id = str[1];

                var lockEdit = $("#LockEdit_" + id);
                var lockShow = $("#LockShow_" + id);
                var inactiveEdit = $("#InactiveEdit_" + id);
                var inactiveShow = $("#InactiveShow_" + id);

                $(this).hide();
                hideAndShowItems(id, lockShow, lockEdit, inactiveShow, inactiveEdit, 'cancel');
            }
        });

        $('#btnSearch').on('click', function () {
            var text = $('#txtSearch').val();
            if (text != '') {
                searchUsersByText(text);
                $('#btnReset').prop("disabled", false);
                $('#txtBtnReset').prop("title", txtResetEnabled);
            }
        });

        $('#btnReset').on('click', function () {
            clearSearchText();
            searchUsersByText('');
            $('#btnReset').prop("disabled", true);
            $('#btnSearch').prop("disabled", true);

            $('#txtBtnSearch').prop("title", txtSearchDisabled);
            $('#txtBtnReset').prop("title", txtResetDisabled);
        });

        $('#txtSearch').on('input', function () {
            if ($(this).val() != '') {
                $('#btnSearch').prop("disabled", false);
                $('#txtBtnSearch').prop("title", txtSearchEnabled);
            } else {
                $('#btnSearch').prop("disabled", true);
                $('#txtBtnSearch').prop("title", txtSearchDisabled);
            }
        });
    });

    var txtSearchDisabled = "Enter Search Text to enable the Search button";
    var txtSearchEnabled = "";
    var txtResetDisabled = "Search is already showing all users";
    var txtResetEnabled = "";

    // On page load, disable the reset/search buttons
    $('#btnReset').prop("disabled", true);
    $('#btnSearch').prop("disabled", true);
    $('#txtBtnSearch').prop("title", txtSearchDisabled);
    $('#txtBtnReset').prop("title", txtResetDisabled);

    //This method is used to hide/show the checkbox on edit->update
    function hideAndShowItems(id, lockShow, lockEdit, inactiveShow, inactiveEdit, callParam) {
        $("#Update_" + id).hide();
        $("#Cancel_" + id).hide();
        $("#Edit_" + id).show();

        if (callParam == 'update') {
            inactiveShow.attr('checked', inactiveEdit.is(':checked')).attr('disabled', true);
            lockShow.attr('checked', lockEdit.is(':checked')).attr('disabled', true);
        }

        inactiveEdit.hide();
        inactiveShow.show();
        lockEdit.hide();
        lockShow.show();
    }

    function searchUsersByText(text) {
        var url = '/Account/SearchUsersByText';
        $.ajax({
            url: url,
            data: { searchText: text },
            contentType: "application/json; charset=utf-8",
            type: 'GET',
            cache: false,
            success: function (data) {
                $("#dvListUsers").html('');
                $("#dvListUsers").html(data);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Error Retrieving Data\nStatus: " + textStatus + "\nError: " + errorThrown);
            }
        });
        return false;
    };

    function styleGrid() {
        $('.webGrid .color').each(function (index, element) { $(element).parent().css('background-color', $(element).html()); });
        $('.webGrid').fixedHeaderTable({ height: '490', width: '1260', fixedColumn: true, footer: true, themeClass: 'fixedHeader' });
    }

    function clearSearchText() {
        $('#txtSearch').val('');
    }
</script>

