﻿@model UserViewModel
@{
    ViewBag.Title = "";
}
<script type="text/javascript">
    $(document).ready(function () {
        var multiSelect = $("#dvMultiSelect");
        multiSelect.hide();
    });
    function userTypeChanged(e)
    {
        angular.element($("#dvContainer")).scope().userTypeChanged(e);
    }
</script>

<section id="registerUserStep1" style="width:960px;">
        @Html.AntiForgeryToken()
    <div id="dvContainer" class="container-fluid" ng-app="multiSelectModule" ng-controller="roleCtrl">
        <div class="row" style="margin-bottom:15px;">
            <h3 style="text-align:center; font-weight:bold;">Create New User Account</h3>
        </div>
        <div class="row" style="margin-left:25px;margin-bottom:25px;">
            <span class="col-md-5 text-right">
                @Html.LabelFor(m => m.SelectedRoleSource)
            </span>
            <span class="col-md-7">
                @Html.DropDownListFor(m => m.SelectedRoleSource, Model.AllRoleSources, "Select User Type", new { onchange = "userTypeChanged(this)" })
                @Html.ValidationMessageFor(m => m.SelectedRoleSource)
            </span>
        </div>
        <div class="row" id="dvMultiSelect" style="margin-left:125px;">
            <span class="col-md-12" style="margin-bottom:25px;">
                <multi-select ng-model="user.roles" available="roles" display-attr="Value" key-attr="Key" 
                              available-label="Available Roles" selected-label="Assigned Roles"></multi-select>
            </span>            
            <div style="margin-left:20px;">
                <span>
                    <input type="button" value="Continue" ng-click="createUserRoles()" />
                </span>
                <span>
                    <input type="button" value="Cancel" onclick="window.location.href='/Account/RegisterUserStep1'" />
                </span>
            </div>
        </div>
    </div>
</section>
@section Styles {
    <link href="@Url.Content("~/Content/multiSelect.css")" rel="stylesheet" type="text/css" />
}
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/angular-resource.js"></script>
<script src="~/Scripts/App/app.js"></script>
<script src="~/Scripts/App/Directives/multiSelect.js"></script>
<script src="~/Scripts/App/Services/multiSelectSvc.js"></script>
<script src="~/Scripts/App/Controllers/roleCtrl.js"></script>