﻿@model SecurityQuestionViewModel
@{
    ViewBag.Title = "Please Answer Security Questions";
}

<hgroup class="title">
    @*<h1>@ViewBag.Title</h1>*@
</hgroup>

<section id="registerUser" style="width:960px;">
    @using (Html.BeginForm("RetrievePassword", "Account", FormMethod.Post, new { style = "margin:auto;" }))
    {
        @Html.AntiForgeryToken() 
        <h2 class="warning">@ViewBag.Message</h2>       
        Html.RenderPartial("_SecurityQuestions");        
        <div class="container-fluid">
            <div class="row" style="margin-top:20px;">
                <span class="col-md-3 text-right">
                </span>
                <span class="col-md-9">
                    <input type="submit" value="Retrieve Password" />
                </span>
            </div>
        </div>
    }
</section>
