﻿@model IList<Model.ReportGridModel>
<script type="text/javascript">
    $(document).ready(
function () {
    styleGrid();
}
);

    function styleGrid() {
        $('.webGrid .color').each(function (index, element) { $(element).parent().css('background-color', $(element).html()); });
    }
</script>
@{
    var grid = new WebGrid(Model, canPage: true, rowsPerPage: 10,
        selectionFieldName: "selectedRow",
        ajaxUpdateContainerId: "gridContent",
        ajaxUpdateCallback: "styleGrid");

}
<div id="gridContent">
    @{

        var gridColumns = new List<WebGridColumn>();
        gridColumns.Add(grid.Column("PropertyName", "Property Name", (item) => (object)item.ProjectName != null ? (object)item.ProjectName.ToString() : Html.Raw(string.Empty)));
        gridColumns.Add(grid.Column("FhaNumber", "FHA Number", (item) => (object)item.FHANumber != null ? (object)item.FhaNumber.ToString() : Html.Raw(string.Empty)));
        gridColumns.Add(grid.Column("PortfolioName", "Portfolio Name", (item) => (object)item.PortfolioName != null ? (object)item.PortfolioName.ToString() : Html.Raw(string.Empty)));
        gridColumns.Add(grid.Column("PortfolioNumber", "Portfolio Number", (item) => (object)item.PortfolioNumber != null ? (object)item.PortfolioNumber.ToString() : Html.Raw(string.Empty)));
        gridColumns.Add(grid.Column("PropertyName", "Property Name", (item) => (object)item.ProjectName != null ? (object)item.ProjectName.ToString() : Html.Raw(string.Empty)));
        gridColumns.Add(grid.Column("DebtCoverageRatio", "Debt Service Coverage Ratio", style: "number", format: (item) => string.Format("{0:0.0}", item.DebtCoverageRatio ?? string.Empty)));
        gridColumns.Add(grid.Column("WorkingCapital", "Working Capital", style: "number", format: (item) => string.Format("{0:0.0}", item.WorkingCapital ?? string.Empty)));
        gridColumns.Add(grid.Column("DaysCashOnHand", "Days Cash on Hand", style: "number", format: (item) => string.Format("{0:0}", item.DaysCashOnHand ?? string.Empty)));
        gridColumns.Add(grid.Column("DaysInAcctReceivable", "Days in Accounts Receivable", style: "number", format: (item) => string.Format("{0:0}", item.DaysInAcctReceivable ?? string.Empty)));
        gridColumns.Add(grid.Column("AvgPaymentPeriod", "Average Payment Period", style: "number", format: (item) => string.Format("{0:0}", item.AvgPaymentPeriod ?? string.Empty)));
        gridColumns.Add(grid.Column("UnpaidPrincipalBalance", "Unpaid Principal Balance (UPB)", (item) => HtmlHelperExt.CurrencyFormatterStr(item.UnpaidPrincipalBalance == null ? string.Empty : item.UnpaidPrincipalBalance.ToString(), "0")));
        
    }
    @if (Model.Count > 0)
    {
        @grid.GetHtml(tableStyle: "webGrid",

                headerStyle: "header_row",
                rowStyle: "item_row",
                alternatingRowStyle: "item_alt_row",
                selectedRowStyle: "select",
                mode: WebGridPagerModes.All,
                firstText: "<< First",
                previousText: "< Prev",
                nextText: "Next >",
                lastText: "Last >>",

                columns: gridColumns.ToArray())
    }
    else
    {
        <p style="margin-left:20px;">@(string.IsNullOrEmpty(ViewBag.EmptyMessage) ? "No data found." : @ViewBag.EmptyMessage)</p>
    }
</div>