﻿@model OPAViewModel

@{
    ViewBag.Title = "_OpaHistory";
}
<link href="~/Content/ui.jqgrid.css" rel="stylesheet" />
@*<link href="~/Content/jquery.jqGrid/jquery-uiv2.css" rel="stylesheet" />*@
@*<script src="~/Scripts/free-jqGrid/jquery-1.9.1.min.js"></script>*@
@*<script src="~/Scripts/JqGrid/jquery-ui-1.10.0.min.js"></script>*@
@*<script src="~/Scripts/JqGrid/grid.locale-en.js"></script>*@
<script src="~/Scripts/free-jqGrid/jquery.jqGrid.min.js"></script>

<link href="~/Content/themes/redmond/jquery-ui-1.12.1.custom/jquery-ui.css" rel="stylesheet" />

<script type="text/javascript" src="~/Content/themes/redmond/jquery-ui-1.12.1.custom/jquery-ui.js"></script>

<div id="reviewerMainGrid" style="width:1300px">

    <table id="TaskGrid"></table>
    <div id="pager"></div>
    <br />

</div>

<style type="text/css">
    .ui-jqgrid {
        font-size: 8.8em;
    }

    .mylink {
        text-decoration: underline;
    }

    .hiddenCell {
        visibility: collapse;
    }

    .ui-jqgrid tr.jqgrow td {
        word-wrap: break-word; /* IE 5.5+ and CSS3 */
        white-space: pre-wrap; /* CSS3 */
        white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
        white-space: -pre-wrap; /* Opera 4-6 */
        white-space: -o-pre-wrap; /* Opera 7 */
        overflow: hidden;
        height: auto;
        vertical-align: middle;
        padding-top: 3px;
        padding-bottom: 3px;
        font-size: 1.2em;
    }

    .errorClass {
        border: 1px solid red;
    }


    .thumbnail-item {
        /* position relative so that we can use position absolute for the tooltip */
        position: relative;
        float: left;
        margin: 0px 5px;
    }

        .thumbnail-item a {
            display: block;
        }

    /*.thumbnail-item img.thumbnail {
            border: 3px solid #ccc;
        }*/

    .tooltip {
        /* by default, hide it */
        display: none;
        /* allow us to move the tooltip */
        position: absolute;
        /* align the image properly */
        padding: 8px 0 0 8px;
    }

        .tooltip span.overlay {
            /* the png image, need ie6 hack though */
            /* background: url(images/overlay.png) no-repeat;
            /* put this overlay on the top of the tooltip image */
            position: absolute;
            top: 0px;
            left: 0px;
            display: block;
            width: 100px;
            height: 100px;
        }
</style>
<script>
    //#102 For Download Asset management files - Hareesh 30-05-2019
    function getFile(fileid) {
        // alert(1);
        window.open("/FHARequest/DownloadTaskFile/?taskfileid=" + fileid, '_blank');
    }


    function handleDeleteFile(id) {
        //debugger;
        var childFileId = id;
        $("#spinner").attr('class', 'overlay');
        $.ajax({
            type: "POST",
            url: "/OPAForm/OPADeletefile/?taskfileid=" + childFileId,

            contentType: false,
            processData: false,
            cache: false,
            success: function (result) {
                if (result === "Success") {
                    alert("File Deleted Successfully");
                    jQuery('#TaskGrid').trigger('reloadGrid');
                }
            },
            error: function (xhr, status, p3, p4) {
                var err = "Error " + " " + status + " " + p3 + " " + p4;
                if (xhr.responseText && xhr.responseText[0] == "{")
                    err = JSON.parse(xhr.responseText).Message;
                console.log(err);
            }
        });
    }
</script>

<script type="text/javascript">
    details = "<span class='fa fa-fw fa-plus'></span>&nbsp;" +
                 "<span class='mylink'> Show</span>";
    fileHistory = "<span class='fa fa-fw fa-plus'></span>&nbsp;" +
                "<span class='mylink'> View files</span>";

    var fileListUpdate = [];

    var isReqAddValidation = [];

    $(document).ready(function () {

        //  debugger;
        $("#TaskGrid").jqGrid({

            url: "/OPAForm/GetOpaHistoryGridContent?taskInstanceId=" + $("#GroupTaskInstanceId").val() + "",

            datatype: 'json',
            mtype: 'POST',
            colNames: ['Action', 'Name', 'Role', 'Comment', 'File Name', 'File Size(KB)', 'File Uploaded Date', 'Submit Date', 'Remove Attachment'],
            colModel: [
               { name: 'actionTaken', index: 'actionTaken', editable: false, width: 100 },
               { name: 'name', index: 'name', editable: false },
               { name: 'userRole', index: 'userRole', editable: false },
               { name: 'comment', index: 'comment', editable: false },
               {
                   name: 'fileName', index: 'fileName', type: 'link', width: 150,
                   cellattr: function (cellvalue, options, rowObject) {
                       if (rowObject.fileName != null) {

                           return ' style="text-decoration: underline"';
                       }
                   },
                   formatter: function (cellvalue, options, rowObject) {
                       if (rowObject.fileName == null) {
                           return " "
                       }
                       else {
                           //onclick="preventDefault();" karri
                           //return '<a  href="/OPAForm/OPADownloadTaskFile/?taskfileid=' + rowObject.fileId + '">' + rowObject.fileName + '</a>';
                           return '<a onclick="event.preventDefault(); getFile(' + (rowObject.fileId) + ');" href="#" >' + rowObject.fileName + '</a>';
                       }
                   }
               },
               {
                   name: 'fileSize', index: 'fileSize', editable: false, width: 100,
                   formatter: function (cellvalue, options, rowObject) {
                       if (rowObject.fileName == null) {
                           return " "
                       }
                       else {
                           return cellvalue;
                       }
                   }
               },
               { name: 'uploadDate', index: 'uploadDate', editable: false, formatter: 'date', width: 150, formatoptions: { newformat: 'm/d/Y h:i A' } },
                { name: 'submitDate', index: 'submitDate', editable: false, formatter: 'date', width: 150, formatoptions: { newformat: 'm/d/Y h:i A' } },

                       {
                           name: 'FileId', index: 'FileId', width: 150, sortable: false,
                           formatter: function (cellvalue, options, rowObject) {
                               if (rowObject.fileId != null) {
                                   //return '   <input id="' + rowObject.fileId + '" type=\'button\' value=\'Delete\' class=\'deleteLinkClass\'    />';
                                   return "<img src='/Content/images/delete.jpg' id='" + rowObject.fileId + "' height='10' width='10' align='center' alt='my image' value=\'Delete\' class=\'deleteLinkClass\' />";
                               } else {
                                   return "NA";
                               }
                           },
                           formatoptions: {
                               keys: true,
                               editformbutton: true

                           }
                       },



            ],
            pager: jQuery('#pager'),
            cellEdit: false,
           // cellsubmit: 'clientArray',
            rowNum: 10,
            //loadonce: true,
            rowList: [10, 20, 30, 40],
            shrinkToFit: false,
            height: '100%',
            viewrecords: true,
            gridview: true,
            //autoencode: true,
            width: 1250,
            caption: 'Documentation Grid',
            //editurl: "/OPAFormReviewer/UpdateFileTask?taskInstanceId=" + $("#TaskGuid").val() + "&fileId=" + $("#TaskGuid").val() + "&isAddInfo=" + $("#TaskGuid").val() + "&isApprove=" + $("#TaskGuid").val() + "&comments=" + $("#TaskGuid").val() + "",
            emptyrecords: 'No records to display',
            jsonReader: {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: false
                //Id: "0"
            },

            beforeSelectRow: function (rowid, e) {
                //debugger;
                var $self = $(this),
                p = $self.jqGrid("getGridParam"),
                $td = $(e.target).closest("tr.jqgrow>td"),
                cm = $td.length > 0 ? p.colModel[$td[0].cellIndex] : null,
                cmName = cm != null ? cm.name : null;

                if (cmName === "FileId") {
                    handleDeleteFile(e.target.id);
                    //var deleteElements = document.getElementsByClassName('deleteLinkClass');
                    //for (var i = 0; i < deleteElements.length; i++) {
                    //    deleteElements[i].addEventListener('click',
                    //        handleDeleteFile, false);
                    //}
                }
                return false;
            },

                    gridComplete: function () {

            },

            loadComplete: function () {

            },
            loadError: function (xhr, status, error) {

            },
            multiselect: false,
            autoencode: true,

        }).navGrid('#pager', { edit: false, add: false, del: false, search: false, refresh: false });

    });


    function Removefile(taskFileId, groupTaskInstanceId) {
        //debugger;
        $("#spinner").attr('class', 'overlay');
        $.ajax({
            url: '/OPAForm/OPARemovefile/TaskGuid?=' + $('#TaskGuid').val(),
            data: {
                taskInstanceId: groupTaskInstanceId,
                taskFileId: taskFileId,
                OPAProjectActionViewModel: '@Model',
                TaskGuid: TaskGuid,
                lendercomment: lendercomment


            },
            cache: false,
            type: 'POST',
            success: function (response) {
                // debugger;

                $("#paformreadonly").html("");
                $("#paformreadonly").html(response);
                $("#paform").html("");
                $("#paform").html(response);
                alert('File successfully deleted');
                $("h4:first").html('');

                $("#isAgreementRequiredErrorMessage").hide();

                },
            error: function (xhr) {
                // TODO: alert the user about the error
            }
        });

    }


</script>
