﻿<script type="text/javascript">
    
    function userAction() {
        $('#dialogCommon').dialog('close');
        var url = $("#RedirectToMyTasks").val();
        location.href = url;
    }
</script>
<div class="container-fluid">
    <div class="row" style="margin-top:20px;">
        <div>
            <p></p>
            <p>We are sorry but another user has just updated this task.</p>
            <p>Please click OK to return to My Tasks in order to see the latest status on this task.</p>
        </div>
    </div>

    <br />

    <div class="row">
        <span class="col-md-offset-2 col-md-2">
            <input id="btnOk" type="submit" class="form-control" value="OK" title="OK" onclick="userAction(); ">
        </span>
    </div>
</div>




