﻿@model Model.Production.AmendmentsModel
<style>
	fieldset {
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		border-radius: 8px;
		border: 1px solid #d9edf7;
	}

	legend {
		border: solid 1px black;
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		border-radius: 8px;
	}
</style>

<section id="applicationDetails">
	<fieldset>
		<form name="appForm" class="appForm">
			<div class="container-fluid">
				<div class="row">
					<span class="col-xs-3 text-right ">
						@Html.Label("Amendment Number")
					</span>
					<span class="col-xs-3 required">
						@Model.AmendmentNumber
					</span>
					<span class="col-xs-3 text-right ">
						@Html.Label("Type")
					</span>
					<span class="col-xs-3 required">
						@Model.AmendmentType
					</span>
				</div>
				<div class="row">
					<span class="col-xs-3 text-right ">
						@Html.Label("Submitted By")
					</span>
					<span class="col-xs-3 required">
						@Model.SubmittedBy
					</span>
					<span class="col-xs-3 text-right ">
						@Html.Label("Submitted On")
					</span>
					<span class="col-xs-3 required">
						@Model.SubmittedOn.ToShortDateString()
					</span>
				</div>
				<div class="row">
					<span class="col-xs-3 text-right ">
						@Html.Label("UW/Closer")
					</span>
					<span class="col-xs-3 required">
						@Model.AssignedUWCloser
					</span>
					<span class="col-xs-3 text-right ">
						@Html.Label("UW/Closer Date")
					</span>
					<span class="col-xs-3 required">
						@Model.UWCloserDts
				</div>
				<div class="row">
					<span class="col-xs-3 text-right ">
						@Html.Label("WLM")
					</span>
					<span class="col-xs-3 required">
						@Model.AssignedWLM
					</span>
					<span class="col-xs-3 text-right ">
						@Html.Label("WLM Date")
					</span>
					<span class="col-xs-3 required">
						@Model.WLMDts
					</span>
				</div>
				<div class="row">
					<span class="col-xs-3 text-right ">
						@Html.Label("DAP Completed")
					</span>
					<span class="col-xs-3 required">
						@Model.DAPCompletedByCloser.Value.ToShortDateString()
					</span>
					<span class="col-xs-3 text-right ">
						@Html.Label("")
					</span>
					<span class="col-xs-3 text-right ">
						@Html.Label("")
					</span>
				</div>
			</div>
		</form>
	</fieldset>
</section>