﻿@model Model.Production.ApplicationDetailViewModel

<style>
    fieldset {
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        border: 1px solid #d9edf7;
    }
</style>
<section id="applicationDetails">
    <fieldset>
        <form name="appForm" class ="appForm">
            <div class="container-fluid">
                <div class="row">
                    <span class="col-xs-3 text-right ">
                        @Html.Label("FHA Number")
                    </span>
                    <span class="col-xs-3 required">
                        @Model.FHANumber
                    </span>
                    <span class="col-xs-3 text-right ">
                        @Html.Label("Property Name")
                    </span>
                    <span class="col-xs-3 required">
                       @Model.ProjectName
                    </span>
                </div>
                <div class="row">
                    <span class="col-xs-3 text-right ">
                        @Html.Label("Project Number")
                    </span>
                    <span class="col-xs-3 required">
                       @Model.PropertyId
                    </span>
                    <span class="col-xs-3 text-right ">
                        @Html.Label("Street Address")
                    </span>
                    <span class="col-xs-3 required">
                       @Model.PropertyStreetAddress
                    </span>
                </div>
                <div class="row">
                    <span class="col-xs-3 text-right ">
                        @Html.Label("")
                    </span>
                    <span class="col-xs-3 text-right ">
                        @Html.Label("")
                    </span>
                    <span class="col-xs-3 text-right ">
                        @Html.Label("City")
                    </span>
                    <span class="col-xs-3 required">
                       @Model.PropertyCity
                    </span>
                </div>
                <div class="row">
                    <span class="col-xs-3 text-right ">
                        @Html.Label("")
                    </span>
                    <span class="col-xs-3 text-right ">
                        @Html.Label("")
                    </span>
                    <span class="col-xs-3 text-right ">
                        @Html.Label("State")
                    </span>
                    <span class="col-xs-3 required">
                     @Model.PropertyState
                    </span>
                </div>
                <div class="row">
                    <span class="col-xs-3 text-right ">
                        @Html.Label("Underwriting Mortgagee Name")
                    </span>
                    <span class="col-xs-3 required">
                       @Model.LenderName
                    </span>
                    <span class="col-xs-3 text-right ">
                        @Html.Label("Zipcode")
                    </span>
                    <span class="col-xs-3 required">
                      @Model.PropertyZip
                    </span>
                </div>
                <div class="row">
                    <span class="col-xs-3 text-right ">
                        @Html.Label("Mortgagee Contact Email")
                    </span>
                    <span class="col-xs-3 required">
                       @Model.LenderContactEmail
                    </span>
                    <span class="col-xs-3 text-right ">
                        @Html.Label("Loan Amount", new {@class = "required"})
                    </span>
                    <span class="col-xs-3 required">
                       @Model.LoanAmount
                    </span>
                </div>
            </div>
        </form>
    </fieldset>
</section>
