﻿@model Model.Production.FileReorderModel
@{
    Layout = null;
}
<style type="text/css">
    .well {
        background: #d9edf7;
    }
    .close {
    opacity: 100;
}
</style>
<link href="~/Scripts/jquery-multiselect/bootstrap-multiselect.css" rel="stylesheet" />
<link href="~/Scripts/jquery-multiselect/BootstarpAnimation.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui-1.10.4.min.js"></script>
<script src="~/Scripts/jquery-multiselect/Bootstrap.multiselectV2.js"></script>
<div class="modal-dialog" style="width: 500px;">
    <div class="modal-content">

        <div class="div-heading">
            <button type="button" class="close" style="color:red" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 class="text-center heading faa-horizontal faa-slow animated">Associate your Files here</h3>
        </div>
       

        @using (Html.BeginForm("SaveFilestoFolder", "ProductionApplication", FormMethod.Post, new { @class = "modal-form", id = "myForm" }))
        {
            @Html.HiddenFor(m => m.FileIdlist)
             @Html.HiddenFor(m => m.TaskInstanceId)

            <div id="errorMsg" style="display: none" class="col-lg-offset-4">
                <h4 style="color: red;">Invalid Inputs</h4>
            </div>
            <div class="modal-body form-horizontal " style="height:150px;">

                <div class="row">

                    <div class="form-group col-md-12">
                        <label class="col-md-4 control-label">Folders</label>
                        <div class="col-md-8">

                            @Html.ListBox("FromFolder", null, new { multiple = "multiple", name = "FromFolder" })

                        </div>
                    </div>


                </div>
         
                <div class="row">

                    <div class="form-group col-md-12">
                        <label class="col-md-4 control-label">Files</label>
                        <div class="col-md-8">

                            @Html.ListBox("ListOfFiles", null, new { multiple = "multiple", name = "FileList" })

                        </div>
                    </div>


                </div>
                @*<div class="row">

                    <button type="button" class="btn btn-danger btn-circle"><i class="fa fa-fw fa-map-marker faa-bounce animated"></i></button>
                </div>*@

                <div class="row">

                    <div class="form-group col-md-12">
                        <label class="col-md-4 control-label">Document Name</label>
                        <div class="col-md-8">

                            @Html.DropDownList("DocumentTypes", null, new { @class = "form-control" })

                        </div>
                    </div>


                </div>


            </div>

            <div class="modal-footer">
                <div class="col-sm-1 form-group pull-left">

                </div>

                <button class="btn btn-primary" type="submit">Save</button>
                <button class="btn-default" data-dismiss="modal" aria-hidden="true">Cancel</button>

            </div>
        }
    </div>
    <!-- /.modal-content -->
</div>

<script>

    var PLMReport = (function () {
        var progChange = false;
        var settings = window.settingsObject;
        var listBoxToString = function (listBox, all) {
            //  debugger;
            if (typeof listBox === "string") {
                listBox = document.getElementById(listBox);
            }

            if (listBox == null) { return ""; }

            if (!(listBox || listBox.options)) {
                throw Error("No options");
            }
            var options = [], opt;
            for (var i = 0, l = listBox.options.length; i < l; ++i) {
                opt = listBox.options[i];
                if (all || opt.selected) {
                    options.push(opt.value);
                }
            }
            return options.join(",");
        };

        var listboxText = function (listBox, all) {
            // debugger;
            if (typeof listBox === "string") {
                listBox = document.getElementById(listBox);
            }

            if (listBox == null) { return ""; }

            if (!(listBox || listBox.options)) {
                throw Error("No options");
            }
            var options = [], opt;
            for (var i = 0, l = listBox.options.length; i < l; ++i) {
                opt = listBox.options[i];
                if (all || opt.selected) {
                    options.push(opt.text);
                }
            }
            return options.join(",");
        };



        return {
            InitView: function () {


          
               // debugger;
                $("#ListOfFiles").multiselect({




                    enableCaseInsensitiveFiltering: true
                    , filterPlaceholder: 'Search'
                    , maxHeight: 400
                     , nonSelectedText: 'Select Files'
                     , includeSelectAllOption: true
                    , onDeselectAll: function () {

                    }
                   , onSelectAll: function () {
                    // debugger;
                       var arry = listBoxToString('ListOfFiles', true);


                       //var array = arry.split(',');
                       $('#FileIdlist').val('');
                       $('#FileIdlist').val(arry);
           


                   }
                                           ,
                    onChange: function (element, checked) {
                       // debugger;
                        if (checked) {

                            var arry = listBoxToString('ListOfFiles', false);
                            $('#FileIdlist').val('');
                            $('#FileIdlist').val(arry);
                        }
                        else {


                        }
                    }


                });

                $("#FromFolder").multiselect({

                    enableCaseInsensitiveFiltering: true
                 , filterPlaceholder: 'Search'
                 , maxHeight: 400
                  , nonSelectedText: 'Select Folder'
                  , includeSelectAllOption: true
                 , onDeselectAll: function () {

                 }
                , onSelectAll: function () {
                    // debugger;
                    var arry = listBoxToString('FromFolder', true);


                    var folderkeys = arry.split(',');
                    PLMReport.RefreshFilesbyFolder(folderkeys,'Files')
                

                }
                                        ,
                    onChange: function (element, checked) {
                       // debugger;
                        if (checked) {

                            var arry = listBoxToString('FromFolder', false);
                            var folderkeys = arry.split(',');
                            PLMReport.RefreshFilesbyFolder(folderkeys, 'Files')
                        }
                        else {


                        }
                    }


                });



            },
            RefreshFilesbyFolder: function (generic, type) {

                // debugger;
                // Get all the old values from lstStates


                //$("#TaskInstanceId").val();
                var data = new FormData();
                data.append("FoldeKeys", generic);
                data.append("TaskInstanceId", $("#TaskInstanceId").val());
                

                // Get the data from the single request
                $.ajax({
                    url: '/ProductionApplication/GetFilesBasedonFolder',
                    data: data,
                    contentType: false,
                    processData: false,
                    cache: false,
                    type: 'POST',
                    success: function (response) {
                        // debugger;
                        PLMReport.RepopulatebyFileID(response);
                    },
                    error: function (xhr) {
                        // TODO: alert the user about the error
                    }
                });
            },


            RepopulatebyFileID: function (response) {
               //  debugger;
                // Clear the existing list box


               // $("#AvailableFolders").empty();
                $("#ListOfFiles").empty();
               
                for (var i = 0; i < response.temp.length; i++) {
                    if ($("#ListOfFiles option[value='" + response.temp[i].Value + "']").length == 0) {
                        $("#ListOfFiles").append('<option value="' + response.temp[i].Value + '" >' + response.temp[i].Text + '</option>');
                    }
                }

                //$("#AvailableFolders").multiselect("rebuild");
                $("#ListOfFiles").multiselect("rebuild");
                $('button[class*=multiselect]').css('width', '200px');
                $('input[type=checkbox]').css("float", "none");
            },



        }
    }());

    $(document).ready(function () {
        // debugger;
        PLMReport.InitView();
        //  debugger;
        $('button[class*=multiselect]').css('width', '200px');

        $('input[type=checkbox]').css("float", "none");


        //$('.ui-multiselect ui-widget ui-state-default ui-corner-all btn-text-color-fix ui-state-active ui-state-hover').css('width', '200px');
    });



</script>

<script type="text/javascript">
    function reloadGrid() {
       // debugger;
        location.reload();
        $("#fileUploadGrid").trigger("reloadGrid");
        //$("#assignedTask").trigger("reloadGrid");
        // Filter();
    }
    $("#myForm").submit(function (e) {

        e.preventDefault();
        var url = '@Url.Action("SaveFilestoFolder", "ProductionApplication")';
        $.ajax({
            url: url,
            type: 'POST',
            data: $('#myForm').serialize(),
            success: function () {
                $('#sucess_alert').alert();
                $('#sucess_alert').fadeTo(1000, 500).slideUp(500, function () { $('#sucess_alert').slideUp(500) });
                reloadGrid();
                $('#dialogDiv').modal('toggle');
            },
            error: function (data) {
                alert("Error in Rearranging Files");
            },

        });

    });

</script>