﻿@model Model.Production.ProductionTaskAssignmentModel
@{
    Layout = null;
}
<style type="text/css">
    .well {
        background: #d9edf7;
    }

    .close {
        opacity: 100;
    }
</style>


<div class="modal-dialog" style="width: 400px;" onload="answers()">
    <div class="modal-content">


        <div class="modal-header">

            <button type="button" class="close" style="color:red; " data-dismiss="modal" aria-hidden="true"><span style="float:right">×</span></button>
            <h4 id="myModalLabel">Reviewer Task Assignment</h4>
            <p id="message"></p>
        </div>

        @using (Html.BeginForm("ExternalTaskAsignment", "ProductionApplication", FormMethod.Post, new { @class = "modal-form", id = "myForm" }))
            {
            @Html.HiddenFor(m => m.TaskId)
            @Html.HiddenFor(m => m.TaskXrefid)
            @Html.HiddenFor(m => m.TaskInstanceId)
            <div id="errorMsg" style="display: none" class="col-lg-offset-4">
                <h4 style="color: red;">Invalid Inputs</h4>
            </div>
            <div class="modal-body form-horizontal " style="height:160px;">
                <div class="row">

                    @*<div class="form-group col-md-12">
                            <label class="col-md-4 control-label">Task Name</label>
                            <div class="col-md-8">
                                @if (Model.TaskInstanceId == Guid.Empty)
                                {
                                    @Html.TextBoxFor(m => m.TaskXrefid, new {@class = "form-control", @readonly = true})
                                }
                                else
                                {
                                     @Html.TextBoxFor(m => m.TaskInstanceId, new {@class = "form-control", @readonly = true})
                                }

                            </div>
                        </div>*@
                </div>
                <div class="row">

                    <div class="form-group col-md-12">
                        <label class="col-md-4 control-label">Assign To</label>
                        <div class="col-md-8">

                            @Html.DropDownList("AssignedToUserId", null, new { @class = "form-control" })

                        </div>
                    </div>


                </div>

                <div class="row">

                    <div class="form-group col-md-12">
                        <label class="col-md-4 control-label">View</label>
                        <div class="col-md-8">

                            @Html.DropDownList("AssignedToViewId", null, new { @class = "form-control" })

                        </div>
                    </div>


                </div>
                <div class="row">

                    <div class="form-group col-md-12">
                        <label class="col-md-4 control-label">Comments</label>
                        <div class="col-md-8">

                            @Html.TextAreaFor(m => m.Comments, new { id = "commentsText", @style = "height:50px;width:210px;", maxlength = "500" })

                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <div class="col-sm-1 form-group pull-left">

                </div>

                <button class="btn btn-primary" type="submit">Assign</button>
                <button class="btn-default" data-dismiss="modal" aria-hidden="true">Cancel</button>

            </div>
        }
    </div>
    <!-- /.modal-content -->
</div>

<script type="text/javascript">
    function reloadGrid() {
       // $("#ProductionQueue").trigger("reloadGrid");
        //$("#assignedTask").trigger("reloadGrid");
       // Filter();
    }
    $("#myForm").submit(function (e) {
        debugger;
        e.preventDefault();
        var url = '@Url.Action("ExternalTaskAsignment", "ProductionApplication")';

        if ($('#AssignedToViewId').find('option:selected').text() == "") {
            $('#AssignedToViewId').append($('<option>', {
                value: 1,
                text: 'No view For Assignment'
            }));
            var TextHighlightCss = {
                'color': '#FF334C',
                'border': '1px solid #FFAD33'
            };
            $('#AssignedToViewId').css(TextHighlightCss);
            //lblMessage
        }
        else if ($('#AssignedToViewId').find('option:selected').text() != "No view For Assignment") {

        $.ajax({
            url: url,
            type: 'POST',
            data: $('#myForm').serialize(),
            success: function () {
                $('#sucess_alert').alert();
                $('#sucess_alert').fadeTo(1000, 500).slideUp(500, function () { $('#sucess_alert').slideUp(500) });
                reloadGrid();
                $('#dialogDiv').modal('toggle');
            },
            error: function (data) {
                alert("Error in Assigning User");
            },

        });
    }
    });
    $("#assignToMe").click(function (e) {
        debugger;

        var url = '@Url.Action("AssignToMe", "ProductionQueue")';

        $.ajax({
            url: url,
            type: 'POST',
            data: $('#myForm').serialize(),
            success: function () {
                $('#sucess_alert').alert();
                $('#sucess_alert').fadeTo(1000, 500).slideUp(500, function () { $('#sucess_alert').slideUp(500) });
                reloadGrid();
                $('#dialogDiv').modal('toggle');
            },
            error: function (data) {
                alert("Error in Assigning Workload Manager");
            },

        });
    });
</script>
