﻿@using Core
@model Model.ReportModel
@{
    ViewBag.Title = "SuperUserMissingReportDetail";
}
<script type="text/javascript">
    $(function () {

        //Optional: turn the chache off
        //$.ajaxSetup({ cache: false });

        $("#colConfig").click(function () {

            // alert("");
            $('#dialogContent').load(this.href, function () {
                $('#dialogDiv').modal({
                    backdrop: 'static',
                    keyboard: true
                }, 'show');
                //bindForm(this);
                $(".modal-dialog").removeClass("modal-sm").addClass("modal-lg");
            });
            return false;
        });

    });
</script>

<div id='dialogDiv' class='modal fade in'>
    <div id='dialogContent'></div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        //$("#bcHolder").text("Home > Financial Analysis > My Project Detail Reports > Project Detail Report > Project Detail Report for Lender");

        $("#yearList").change(function () {
            var url = '@Url.Action("GetProjectDetailReportForSuperUser", "ProjectDetailReport")';
            var selectedYear = $("#yearList").val();
            $("#year").val(selectedYear);
            $.ajax({
                url: url,
                data: { year: selectedYear },
                contentType: "application/json; charset=utf-8",
                type: 'GET',
                cache: false,
                success: function (data) {
                    {
                        $("#dvSuperUserReport").html('');
                        $("#dvSuperUserReport").html(data);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("Status: " + textStatus);
                    alert("Error: " + errorThrown);
                }
            });
            return false;

        });
    });

</script>

<script>
    $(document).ready(function () {
       // debugger;


        // var temp = $(".breadcrumb a[title$='My Project Detail Reports']").css({ "color": "inherit", "text-decoration": "none", "pointer-events": "none" });

        var text = $(".breadcrumb").html();
        if (text.indexOf("Exception") >= 0) {
            //Replace Error Text
            var errortext = $(".breadcrumb").html();
            var errortext = errortext.replace('\n         &gt; \n    Exception Report WLM Level\n\n', '');
            $(".breadcrumb").html(errortext);
            $(".breadcrumb a[title$='Project Exception Report']").replaceWith("Project Exception Report");

        }
        else {
            var text = text.replace('\n         &gt; \n    Project Detail Report Lender Level\n\n', '\n         &gt; \n    Project Detail Report');
            //text= text.replace('</a>\n         &gt; \n        <a title=\"My Project Detail Reports\" style=\"color: inherit; text-decoration: none; pointer-events: none;\" href=\"/ProjectDetailReport/Index\">My Project Detail Reports</a>', 'My Project Detail Reports');
            $(".breadcrumb").html(text);
          //  $(".breadcrumb a[title$='My Project Detail Reports']").replaceWith("My Project Detail Reports");
        }



    });
</script>
<div class="container-fluid">
    <div class="row">
        <div class="row" >
            <div class="container-fluid">
                <div class="row" style="padding: 5px;">
                    <span class="col-md-4 text-left">
                        @Html.Label("Report Name: ")
                    </span>
                    <span class="col-md-4">
                        @Html.DisplayName(EnumType.GetEnumDescription(Model.ReportHeaderModel.ReportType))
                    </span>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row" style="padding: 5px;">
                    <span class="col-md-4 text-left">
                        @Html.Label("Lender Name: ")
                    </span>
                    <span class="col-md-4">

                        @Html.DisplayName(UserPrincipal.Current.FullName)

                    </span>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row" style="padding: 5px;">
                    <span class="col-md-4 text-left">
                        @Html.Label("Report Created By: ")
                    </span>
                    <span class="col-md-4">
                        @Html.DisplayName((Model.ReportHeaderModel.CreatedBy.ToString()))
                    </span>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row" style="padding: 5px;">
                    <span class="col-md-4 text-left">
                        @Html.Label("Report Generated as of: ")
                    </span>
                    <span class="col-md-4">
                        @DateTime.Today.AddDays(-1).ToShortDateString()
                    </span>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row" style="padding: 5px;">
                    <span class="col-md-4 text-left">
                        @Html.Label("Total Number of Projects: ")
                    </span>
                    <span class="col-md-4" id="TotalProp">
                        @Html.DisplayName((Model.ReportHeaderModel.TotalProperties.ToString()))
                    </span>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row" style="padding: 5px;">
                    <span class="col-md-4 text-left">
                        @Html.Label("Total Number of Projects with Exceptions: ")
                    </span>
                    <span class="col-md-4" id="TotalEx">
                        @Html.DisplayName((Model.ReportHeaderModel.TotalPropertieswithException.ToString()))
                    </span>
                </div>
            </div>
            

        </div>
    </div>

    <div class="row" style="padding: 5px;">
        @Html.Partial("~/Views/ProjectDetailReport/_CommonSearch.cshtml", Model)
    </div>

    <div class="row">
        <div style="float:right;">
            <div>
                <a class="btn btn-default btn-sm" id="colConfig" href="@Url.Action("PdrUserPreference","UserPreference")">
                    <span class="glyphicon glyphicon-cog"></span> Column Config
                </a>
                @if (Model.ReportGridModelList.Count > 0)
                {
                    @Html.ImageActionLink(UrlHelper.GenerateContentUrl(@"~/Images/icon_excelBg.jpg", Html.ViewContext.HttpContext), "Export to Excel", (string) ViewBag.ExcelExportAction, "ExcelExport", (object) ViewBag.ExcelActionParam, new {@class = "excelExport"}, null)
                }
                @if (Model.ReportGridModelList.Count > 0 && Core.WebUiConstants.ShowPrintIcon)
                {
                    @Html.ImageActionLink(UrlHelper.GenerateContentUrl(@"~/Images/icon_print.jpg", Html.ViewContext.HttpContext), "Print", (string) ViewBag.PrintAction, "Print", (object) ViewBag.ExcelActionParam, new {target = "_blank"}, null)
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div style="overflow-x: auto;overflow-y: auto;">
            <div id="dvSuperUserReport" class="col-md-12">
                @Html.Partial("~/Views/ProjectDetailReport/_SuperUserProjectReport.cshtml", Model)
            </div>
        </div>
        <div class="row">
            <span class="col-md-2 text-left">

                <b>Total  number of Properties: </b>

            </span><span class="col-md-4 text-left" id="TotalPropFooter"><b>@Html.DisplayName((Model.ReportHeaderModel.TotalProperties.ToString()))</b></span>

        </div>
    </div>
</div>
