﻿@model Model.ReportModel
<script type="text/javascript">
            $(document).ready(
                function () {
                    styleGrid();
                }
            );

            function styleGrid() {
                $('.webGrid .color').each(function (index, element) { $(element).parent().css('background-color', $(element).html()); });
            }
</script>
@{
    var grid = new WebGrid(Model.ReportGridModelList, canPage: true, rowsPerPage: 10,
        selectionFieldName: "selectedRow",
        ajaxUpdateContainerId: "gridContent",
        ajaxUpdateCallback: "styleGrid");

}

<div class="row">
    <div style="float:right;">
        <div>
            @if (Model.ReportGridModelList.Count > 0)
            {
                @Html.ImageActionLink(UrlHelper.GenerateContentUrl(@"~/Images/icon_excelBg.jpg", Html.ViewContext.HttpContext), "Export to Excel", (string)ViewBag.ExcelExportAction, "ExcelExport", (object)ViewBag.ExcelActionParam, new { @class = "excelExport" }, null)
            }
            @if (Model.ReportGridModelList.Count > 0 && Core.WebUiConstants.ShowPrintIcon)
            {
                @Html.ImageActionLink(UrlHelper.GenerateContentUrl(@"~/Images/icon_print.jpg", Html.ViewContext.HttpContext), "Print", (string)ViewBag.PrintAction, "Print", (object)ViewBag.ExcelActionParam, new { target = "_blank" }, null)
            }
        </div>
    </div>
</div>

<div id="gridContent">
    @{
        var gridColumns = new List<WebGridColumn>();
        gridColumns.Add(grid.Column("NumberOfProjects", "Number of Projects", format: (item) => (object)item.NumberOfProjects != null ? Html.ActionLink(((object)item.NumberOfProjects).ToString(), "SuperUserWLMMissingProjectReportDetail", "MissingProjectReport", new { reportYear = Model.ReportHeaderModel.ReportYear }, null) : Html.Raw(string.Empty)));
        gridColumns.Add(grid.Column("ExpectedNumber", "Expected Number of Reports", (item) => item.ExpectedNumber));
        gridColumns.Add(grid.Column("ReceivedNumber", "Received Number of Reports", (item) => item.ReceivedNumber));
        gridColumns.Add(grid.Column("MissingNumber", "Missing Number of Reports", (item) => item.MissingNumber));
    }

    @grid.GetHtml(tableStyle: "webGrid",
                headerStyle: "header_row",
                rowStyle: "item_row",
                alternatingRowStyle: "item_alt_row",
                selectedRowStyle: "select",
                mode: WebGridPagerModes.All,
                firstText: "<< First",
                previousText: "< Prev",
                nextText: "Next >",
                lastText: "Last >>",

                columns: gridColumns.ToArray())

</div>