﻿@model Model.Production.FolderUploadModel
@{
    Layout = null;
}

<script src="~/Scripts/DrpZoneV2.js"></script>
<link href="~/Scripts/jquery-multiselect/BootstarpAnimation.css" rel="stylesheet" />
<script>
    // Setting auto discover to false immediately after including the script.
    Dropzone.autoDiscover = false;
</script>

<style>
    html, body {
        height: 100%;
    }

    
.modal-lg {
    width: 1160px;
}

    #actions {
        margin: 2em 0;
    }


    /* Mimic table appearance */
    div.table {
        display: table;
    }

        div.table .file-row {
            display: table-row;
        }

            div.table .file-row > div {
                display: table-cell;
                vertical-align: top;
                border-top: 1px solid #ddd;
                padding: 8px;
            }

            div.table .file-row:nth-child(odd) {
                background: #f9f9f9;
            }

.close {
    opacity: 100;
}

    /* The total progress gets shown by event listeners */
    #total-progress {
        opacity: 0;
        transition: opacity 0.3s linear;
    }

    /* Hide the progress bar when finished */
    #previews .file-row.dz-success .progress {
        opacity: 0;
        transition: opacity 0.3s linear;
    }

    /* Hide the delete button initially */
    #previews .file-row .delete {
        display: none;
    }

    /* Hide the start and cancel buttons and show the delete button */

    #previews .file-row.dz-success .start,
    #previews .file-row.dz-success .cancel {
        display: none;
    }

    #previews .file-row.dz-success .delete {
        display: block;
    }
</style>

<script>
    $(document).ready(function () {
        $("#upstart").hide();
        $("#upinterupt").hide();
        $("#upremove").hide();

        
    });

    
</script>



@Html.HiddenFor(m => m.ParentModel, new { id = "ParentModel" })

    <div id="MydropZone" class="modal-dialog">
        <div class="modal-content">


            <div class="div-heading">
                <button type="button" class="close" style="color:red" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 class="text-center heading faa-horizontal faa-slow animated">Upload/Drag and Drop your Files here</h3>
            </div>

            <div class="container" id="container">



                <br>
                <div id="actions" class="row">

                    <div class="col-lg-7">
                        <!-- The fileinput-button span is used to style the file input field as button -->
                        <span class="btn btn-success fileinput-button">
                            <i class="glyphicon glyphicon-plus"></i>
                            <span>Add files...</span>
                        </span>
                        <button type="submit" class="btn btn-primary start">
                            <i class="glyphicon glyphicon-upload"></i>
                            <span>Start upload</span>
                        </button>
                        <button  id="upinterupt"type="reset" class="btn btn-warning cancel">
                            <i class="glyphicon glyphicon-ban-circle"></i>
                            <span>Cancel upload</span>
                        </button>
                    </div>

                    <div class="col-lg-5">
                        <!-- The global file processing state -->
                        <span class="fileupload-process">
                            <div id="total-progress" class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                                <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
                            </div>
                        </span>
                    </div>
                    <span class="col-md-12 ">
                        <label for="" style="color: red;">*</label>
                        <b> <i> All files attached at the same time must not exceed 1 GB.  Please make sure the files you are attaching are in the accepted format. (.gif, .doc, .docx, .pdf, .xls, .xlsx).</i> </b>
                    </span>

                </div>








                <div class="table table-striped files" id="previews">

                    <div id="template" class="file-row">
                        <!-- This is used as the file preview template -->
                        <div>
                            <span class="preview"><img data-dz-thumbnail /></span>
                        </div>
                        <div>
                            <p class="name" data-dz-name></p>
                            <strong class="error text-danger" data-dz-errormessage></strong>
                        </div>
                        <div>
                            <p class="size" data-dz-size></p>
                            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                                <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
                            </div>
                        </div>
                        <div>
                            <button id="upstart" class="btn btn-primary start">
                                <i class="glyphicon glyphicon-upload"></i>
                                <span>Start</span>
                            </button>
                            <button id="upcancel" data-dz-remove class="btn btn-danger cancel">
                                <i class="glyphicon glyphicon-trash"></i>
                                <span>Remove</span>
                            </button>
                            <button id="upremove" data-dz-remove class="btn btn-danger delete">
                                <i class="glyphicon glyphicon-trash"></i>
                                <span>Delete</span>
                            </button>
                        </div>
                    </div>

                </div>

                <script>
                    // Get the template HTML and remove it from the doumenthe template HTML and remove it from the doument
        //debugger;
        var previewNode = document.querySelector("#template");
        previewNode.id = "";
        var processing = false;
        var previewTemplate = previewNode.parentNode.innerHTML;
        previewNode.parentNode.removeChild(previewNode);

        var myDropzone = new Dropzone("div#MydropZone", { // Make the whole body a dropzone
            //url: "/ProductionApplication/SaveDropzoneJsUploadedFiles", // Set the url
            url: '@ViewBag.uploadurl',
            thumbnailWidth: 80,
            thumbnailHeight: 80,
            parallelUploads: 20,
            acceptedFiles: ".doc,.DOC,.DOCX,.docx,.xls,.XLS,.xlsx,.XLSX,.pdf,.PDF",
            uploadMultiple: true,
            previewTemplate: previewTemplate,
            autoQueue: false, // Make sure the files aren't queued until manually added
            previewsContainer: "#previews", // Define the container to display the previews
            clickable: ".fileinput-button", // Define the element that should be used as click trigger to select files.
            params: { FolderKey: '@Model.FolderKey', ParentModel: '@Model.ParentModel' },
           autoDiscover : false
        });

         myDropzone.on("processing", function () {
            // debugger;
                        this.options.autoProcessQueue = true;
                        processing = true;
                    });
        myDropzone.on("addedfile", function (file) {
            // Hookup the start button
            //debugger;
            file.previewElement.querySelector(".start").onclick = function () { myDropzone.enqueueFile(file); };
        });

        // Update the total progress bar
        myDropzone.on("totaluploadprogress", function (progress) {
            document.querySelector("#total-progress .progress-bar").style.width = progress + "%";
        });

        myDropzone.on("sending", function (file) {

            // Show the total progress bar when upload starts
            document.querySelector("#total-progress").style.opacity = "1";
            // And disable the start button
            file.previewElement.querySelector(".start").setAttribute("disabled", "disabled");
            file.previewElement.querySelector(".cancel").setAttribute("disabled", "disabled");

        });

        myDropzone.on("error", function (file, response) {
            //debugger;
            return false;
        });

        // Hide the total progress bar when nothing's uploading anymore
        myDropzone.on("queuecomplete", function (progress) {
            debugger;
            if (processing==true) {
                document.querySelector("#total-progress").style.opacity = "0";
                    //window.location.href = '/ProductionApplication/Reload/GroupTaskInstanceId?=' + $("#GroupTaskInstanceId").val();
                    $('#MydropZone').modal('toggle');
                    updateTaskInstance();
                //window.location.href = '@ViewBag.redirecturl' + $('#TaskxrefId').val();
            }
        });

        // Setup the buttons for all transfers
        // The "add files" button doesn't need to be setup because the config
                    // `clickable` has already been specified.
                    //debugger;
                    document.querySelector("#actions .start").onclick = function () {

                        if (myDropzone.files.length == 0)
                        {
                            alert('Atleast select a file to upload');
                        }
                        else {
                            myDropzone.enqueueFiles(myDropzone.getFilesWithStatus(Dropzone.ADDED));
                            $("#previews").prop("disabled", true);
                            //DisableWhenupload();
                        }

        };
        document.querySelector("#actions .cancel").onclick = function () {
            myDropzone.removeAllFiles(true);
        };




     function updateTaskInstance() {
         var oldInstance = $('#TaskInstanceID').val();
        //alert('oldInstance:' + oldInstance);//skumar-alert
        $("#MydropZone .close").click();
        if (oldInstance == '@Guid.Empty') {
            $.getJSON('@Url.Action("GetTaskInstanceID", "InternalExternalTask")', function (result) {
                $('#TaskInstanceID').val(result);
            }).done(ReloadGrid);
        }
        else {
            ReloadGrid();
        }
     }


     function ReloadGrid() {
         var gridToReload;
                    @*alert(@((Int32)FileType.FinalDoc));
                    alert(@((Int32)FileType.Lender));
                    alert(@((Int32)FileType.WP));//skumar-alert
                    alert(activeUploadTab);*@

              if (activeUploadTab == @((Int32)FileType.FinalDoc))
                   gridToReload = $("#finalDocsGrid");
             else if (activeUploadTab == @((Int32)FileType.Lender))
                   gridToReload = $("#aeGrid");
             else if (activeUploadTab == @((Int32)FileType.WP))
                  gridToReload = $("#workProductsGrid");
             else if (activeUploadTab == @((Int32)FileType.Form290))
                  gridToReload = $("#workProductsGrid");
             else
                return false;
               gridToReload.jqGrid('setGridParam', {
               url: '@Url.Action("GetUploadedDocuments", "InternalExternalTask")',
                postData: {
                 TaskInstanceID: $('#TaskInstanceID').val(),uploadType : activeUploadTab},
                   datatype: 'json',
                 }).trigger('reloadGrid');

    }
                </script>  <!-- js for the add files area /-->



            </div>
        </div>

    </div>

