﻿@using HUDHealthcarePortal.BusinessService
@model HUDHealthcarePortal.Model.Prod_FormAmendmentTaskModel
@{
	ViewBag.Title = "_AttachAmendments";
}

<script src="~/Scripts/signature_pad.min.js"></script>
<script src="~/Scripts/SignaturePadInit.js"></script>
<script>
	$(document).ready(function () {

		document.getElementById("txtFHANumber").readOnly = true;
		//$('#demoSig').val('0');
		$('.datePickerTextBox').datepicker();
		document.getElementById("dteIssueDate").value = ExtractDate(new Date(document.getElementById("dteIssueDate").value));
		document.getElementById("dteFirmCommitmentSigned").value = ExtractDate(new Date(document.getElementById("dteFirmCommitmentSigned").value));
		document.getElementById("dteCommitmentTerminationDate").value = GetTodayDate();

		 if('@RoleManager.IsProductionUser(UserPrincipal.Current.UserName)' === "True") {
             document.getElementById('divWlmSigLabel').style.display = 'none';
        }
        if ('@RoleManager.IsProductionWLM(UserPrincipal.Current.UserName)' === "True") {
			document.getElementById('divAgentSigLabel').style.display = 'block';
        }




		@*$("#GetSignature").click(function (e) {
			var image = document.getElementById("convas1").toDataURL("image/png");
			var image2 = document.getElementById("convas2").toDataURL("image/png");
			var newimage = image.replace('data:image/png;base64,', '')
			var newimage2 = image2.replace('data:image/png;base64,', '')
			var hidUserId = $('#hidUserId').val();
			var hidUserSigFile=$('#agentSignatureFileName').val();

			if ($('#demoSig').val() == '0') {
				newimage = null;
			}

			$.ajax({
				type: 'POST',
				url: '@Url.Action("UploadSignatureImage", "Amendments")',
				data: {
					imageData: newimage, userId: hidUserId, userSigFile: hidUserSigFile
				},
				success: function (data) {
					//$("#GetSignature").prop('disabled', true);
				}
			});
			$('#btnComplete').prop('disabled', false);


		});*@

		$('#dteIssueDate').change(function () {
			var date = $(this).val();
			_maxDate = ValidateDateSelected(date);
			$(this).val(_maxDate);
			//$('.linkableField').each(function () {
			//	alert(tis.href);
			//	this.href = this.href.replace('_maxUploadDateField', _maxDate);
			//});
		});

		$('#dteFirmCommitmentSigned').change(function () {
			var date = $(this).val();
			_maxDate = ValidateDateSelected(date);
			$(this).val(_maxDate);
		});

		$("#btnComplete").click(function (e) {
			$("#dialog1").dialog('close');
		});
	});

	function ValidateDateSelected(date) {
		var arrDate = date.split("/");
		var today = new Date();
		var userSelectedDate = new Date(arrDate[2], arrDate[0] - 1, arrDate[1]);
		var todaydate = GetTodayDate();
		if (userSelectedDate > today) {
			alert('Date must not be in the future.');
			return todaydate;
		} else {
			return date;
		}
	}
	function GetTodayDate() {
		var today = new Date();
		var dd = today.getDate();
		var mm = today.getMonth() + 1;
		var yyyy = today.getFullYear();
		if (dd < 10) {
			dd = '0' + dd;
		}
		if (mm < 10) {
			mm = '0' + mm;
		}
		var todaydate = mm + '/' + dd + '/' + yyyy;
		return todaydate;
	}

	function ExtractDate(dat) {
		var today = new Date(dat);
		var dd = today.getDate();
		var mm = today.getMonth() + 1;
		var yyyy = today.getFullYear();
		if (dd < 10) {
			dd = '0' + dd;
		}
		if (mm < 10) {
			mm = '0' + mm;
		}
		var todaydate = mm + '/' + dd + '/' + yyyy;
		return todaydate;
	}


	function isNumber(evt) {
		evt = (evt) ? evt : window.event;
		var charCode = (evt.which) ? evt.which : evt.keyCode;

		if (charCode > 31 && (charCode < 48 || charCode > 57)) {
			return false;
		}
		return true;
	}

	function isAmount(evt) {
		evt = (evt) ? evt : window.event;
		var charCode = (evt.which) ? evt.which : evt.keyCode;
		if ((charCode > 47 && charCode < 58) || charCode == 46) {
			return true;
		}
		return false;
	}


</script>
@using (Html.BeginForm("AttachDocSignature", "Amendments", FormMethod.Post, new { enctype = "multipart/form-data", style = "margin:auto;", id = "amendmentsFrm" }))
{
	@Html.HiddenFor(m => m.TaskId, new { id = "TaskId" })
	@Html.HiddenFor(m => m.CreatedBy, new { id = "hidUserId" })
	@Html.HiddenFor(m => m.TaskxrefIdUI, new { id = "TaskxrefId" })
	@Html.HiddenFor(m => m.TaskInstanceIdUI, new { id = "TaskInstanceId" })
	@Html.HiddenFor(m => m.AmendmentTemplateID, new { id = "AmendmentTemplateID" })
	@*@Html.HiddenFor(m => m.IsNewSignatureRequired, new { id = "demoSig" })*@
	@Html.HiddenFor(m => m.AgentSignatureFileName, new { id = "agentSignatureFileName" })
	@Html.HiddenFor(m => m.WLMSignatureFileName, new { id = "wlmSignatureFileName" })
	@Html.HiddenFor(m => m.AuthorizedAgentSignatureId, new { id = "authorizedAgentSignatureId" })
	@Html.HiddenFor(m => m.WLMSignatureId, new { id = "wlmSignatureId" })
	@Html.HiddenFor(m => m.CurrentSignature, new { id = "agentcurrentSignature" })
	@Html.HiddenFor(m => m.WLMSignature, new { id = "wlmSignature" })
	@Html.HiddenFor(m => m.PropertyId, new { id = "propertyId" })
	@Html.HiddenFor(m => m.RoleType, new { id = "roleType" })


	<div>
		@*<p style="color:#428bca; text-align:center; font-size:20px;"><strong>Amendment Template Details</strong></p>*@

		<table class="table table-curved ">
			<tr style="background-color:#DCDDE1; ">
				<td colspan="8" style="text-align:center;font-size:15px;color:#428BCA;"><strong>Amendment Template Details</strong></td>
			</tr>
			<tr>
				<td style="text-align:right;width:100px;" class="report">
					@Html.LabelFor(m => m.Saluatation, new { id = "lblSaluatation" })
				</td>
				<td style="text-align:center; width:100px;" class="model">
					@Html.DropDownListFor(m => m.Saluatation, new SelectList(Model.SaluatationTypes, "SaluatationTypeId", "Saluatation"), "Select Saluatation", new { @class = "form-control", @style = "width:90px" })
				</td>
				<td style="text-align:left;width:100px;">
					@Html.LabelFor(m => m.LastName, new { id = "lblName" })

				</td>
				<td style="text-align:left;width:100px;" class="model">
					@Html.TextBoxFor(m => m.LastName, new { id = "txtname", @maxlength = "100" })
				</td>
				<td style="text-align:left;width:100px;">
					@Html.LabelFor(m => m.FirmAmendmentIssueDate, new { id = "lblIssueDate" })
				</td>
				<td style="text-align:left;width:100px;" class="model">
					@Html.TextBoxFor(m => m.FirmAmendmentIssueDate, new { @class = "datePickerTextBox", @id = "dteIssueDate" })
				</td>
			</tr>
			<tr>
				<td style="text-align:right;width:100px;" class="report">
					@Html.LabelFor(m => m.LenderAddressee, new { id = "lblLenderAddressee" })
				</td>
				<td style="text-align:left;width:100px;" class="model">
					@Html.TextBoxFor(m => m.LenderAddressee, new { id = "txtAddressee", @maxlength = "100" })
				</td>
				<td style="text-align:left;width:100px;">
					@Html.LabelFor(m => m.AddresseeTitle, new { id = "lblAddresseeTitle" })
				</td>
				<td style="text-align:left;width:100px;" class="model">
					@Html.TextBoxFor(m => m.AddresseeTitle, new { id = "txtAddresseeTitle", @maxlength = "100" })
				</td>
				<td style="text-align:left;width:100px;">
					@Html.LabelFor(m => m.LenderCompanyName, new { id = "lblLenderCompanyName" })
				</td>
				<td style="text-align:left;width:100px;" class="model">
					@Html.TextBoxFor(m => m.LenderCompanyName, new { id = "txtLenderCompanyName", @maxlength = "100" })
				</td>
			</tr>
			<tr>
				<td style="text-align:right;width:100px;" class="report">
					@Html.LabelFor(m => m.FirmAmendmentNum, new { id = "lblFirmAmendmentNum" })
				</td>
				<td style="text-align:left;width:100px;" class="model">
					@Html.DropDownListFor(m => m.FirmAmendmentNum, new SelectList(Model.FirmCommitmentAmendmentTypes, "FirmCommitmentAmendmentTypeId", "FirmCommitmentAmendment"), "Select Firm Commitment Amendment", new { @class = "form-control", @style = "width:90px" })
				</td>
				<td style="text-align:left;width:100px;">
					@Html.LabelFor(m => m.FHANumber, new { id = "lblFHANumber" })
				</td>
				<td style="text-align:left;width:100px;" class="model">
					@Html.TextBoxFor(m => m.FHANumber, new { id = "txtFHANumber" })
				</td>
				<td style="text-align:left;width:100px;">
					@Html.LabelFor(m => m.ProjectName, new { id = "lblProjectName" })
				</td>
				<td style="text-align:left;width:100px;" class="model">
					@Html.TextBoxFor(m => m.ProjectName, new { id = "txtProjectName", @maxlength = "100" })
				</td>
			</tr>
			<tr>
				<td style="text-align:right;width:100px;">
					@Html.LabelFor(m => m.ProjectAddress, new { id = "lblProjectAddress" })
				</td>
				<td style="text-align:left;width:100px;" class="model">
					@Html.TextBoxFor(m => m.ProjectAddress, new { id = "txtProjectAddress", @maxlength = "100" })
				</td>
				<td style="text-align:left;width:100px;">
					@Html.LabelFor(m => m.Borrower, new { id = "lblBorrower" })
				</td>
				<td style="text-align:left;width:100px;" class="model">
					@Html.TextBoxFor(m => m.Borrower, new { id = "txtBorrower", @maxlength = "100" })
				</td>
				<td style="text-align:left;width:100px;">
					@Html.LabelFor(m => m.FirmCommitmentSignedDate, new { id = "lblFirmCommitmentSigned" })
				</td>
				<td style="text-align:left;width:100px;" class="model">
					@Html.TextBoxFor(m => m.FirmCommitmentSignedDate, new { @class = "datePickerTextBox", @id = "dteFirmCommitmentSigned" })
				</td>
			</tr>
			<tr>
				<td style="text-align:right;width:100px;">
					@Html.LabelFor(m => m.Party_Property_Id, new { id = "lblParty_Property_Id" })
				</td>
				<td style="text-align:left;width:100px;" class="model">
					@Html.DropDownListFor(m => m.Party_Property_Id, new SelectList(Model.PartyPropertyNameTypes, "PartyTypeId", "Party"), "Select Party or Property Name", new { @class = "form-control", @style = "width:90px" })
					@Html.TextBoxFor(m => m.Party_Propert_Name, new { id = "txtParty_Propert_Name", @maxlength = "100" })
				</td>
				<td style="text-align:left;width:100px;">
					@Html.LabelFor(m => m.Party_Property_Address_Id, new { id = "lblParty_Property_Address_Id" })
				</td>
				<td style="text-align:left;width:100px;" class="model">
					@Html.DropDownListFor(m => m.Party_Property_Address_Id, new SelectList(Model.PartyPropertyAddressTypes, "PartyTypeId", "Party"), "Select Party or Property Address", new { @class = "form-control", @style = "width:90px" })
					@Html.TextBoxFor(m => m.Party_Property_Address_Name, new { id = "txtParty_Property_Address_Name", @maxlength = "100" })
				</td>
				<td style="text-align:left;width:100px;">
					@Html.LabelFor(m => m.LoanAmount, new { id = "lblLoanAmount" })
				</td>
				<td style="text-align:left;width:100px;" class="model">
					@Html.TextBoxFor(m => m.LoanAmount, new { id = "txtLoanAmount", @maxlength = "9", onkeypress = "return isAmount(event)" })
				</td>
			</tr>
			<tr>
				<td style="text-align:right;width:100px;">
					@Html.LabelFor(m => m.PrevLoanAmount, new { id = "lblPrevLoanAmount" })
				</td>
				<td style="text-align:left;width:100px;" class="model">
					@Html.TextBoxFor(m => m.PrevLoanAmount, new { id = "txtPrevLoanAmount", @maxlength = "9", onkeypress = "return isAmount(event)" })
				</td>
				<td style="text-align:left;width:100px;">
					@Html.LabelFor(m => m.InterestRate, new { id = "lblInterestRate" })
				</td>
				<td style="text-align:left;width:100px;" class="model">
					@Html.TextBoxFor(m => m.InterestRate, new { id = "txtInterestRate", @maxlength = "5", onkeypress = "return isAmount(event)" })
				</td>
				<td style="text-align:left;width:100px;">
					@Html.LabelFor(m => m.MonthlyPayment, new { id = "lblMonthlyPayment" })
				</td>
				<td style="text-align:left;width:100px;" class="model">
					@Html.TextBoxFor(m => m.MonthlyPayment, new { id = "txtMonthlyPayment", @maxlength = "9", onkeypress = "return isAmount(event)" })
				</td>
			</tr>
			<tr>
				<td style="text-align:right;width:100px;">
					@Html.LabelFor(m => m.DifferentMonthlyPayment, new { id = "lblDifferentMonthlyPayment" })
				</td>
				<td style="text-align:left;width:100px;" class="model">
					@Html.TextBoxFor(m => m.DifferentMonthlyPayment, new { id = "txtDifferentMonthlyPayment", @maxlength = "9", onkeypress = "return isAmount(event)" })
				</td>
				<td style="text-align:left;width:100px;">
					@Html.LabelFor(m => m.DueYear, new { id = "lblDueYear" })
				</td>
				<td style="text-align:left;width:100px;" class="model">
					@Html.TextBoxFor(m => m.DueYear, new { id = "txtDueYear", @maxlength = "2", onkeypress = "return isNumber(event)" })
				</td>
				<td style="text-align:left;width:100px;">
					@Html.LabelFor(m => m.DueMonth, new { id = "lblDueMonth", @maxlength = "2", onkeypress = "return isNumber(event)" })
				</td>
				<td style="text-align:left;width:100px;" class="model">
					@Html.TextBoxFor(m => m.DueMonth, new { id = "txtDueMonth" })
				</td>
			</tr>
			<tr>
				<td style="text-align:right;width:100px;">
					@Html.LabelFor(m => m.CommitmentTerminationDate, new { id = "lblCommitmentTerminationDate" })
				</td>
				<td style="text-align:left;width:100px;" class="model">
					@*@Html.TextBoxFor(m => m.CommitmentTerminationDate, new { id = "txtCommitmentTerminationDate" })*@
					@Html.TextBoxFor(m => m.CommitmentTerminationDate, new { @class = "datePickerTextBox", @id = "dteCommitmentTerminationDate" })
				</td>
				<td style="text-align:left;width:100px;" class="report">
					@Html.LabelFor(m => m.AdditionalInitialDeposit, new { id = "lblAdditionalInitialDeposit" })
				</td>
				<td style="text-align:center; width:100px;" class="model">
					@Html.DropDownListFor(m => m.AdditionalInitialDeposit, new SelectList(Model.AdditionalInitialDepositTypes, "DepositTypeId", "Deposit"), "Select Additional or Initial Deposit", new { @class = "form-control", @style = "width:90px" })
				</td>
				<td style="text-align:left;width:100px;">
					@Html.LabelFor(m => m.R4RAmount, new { id = "lblR4RAmount" })
				</td>
				<td style="text-align:left;width:100px;" class="model">
					@Html.TextBoxFor(m => m.R4RAmount, new { id = "txtR4RAmount", @maxlength = "9", onkeypress = "return isAmount(event)" })
				</td>
			</tr>
			<tr>
				<td style="text-align:right;width:100px;">
					@Html.LabelFor(m => m.CriticalRepairCost, new { id = "lblCriticalRepairCost" })
				</td>
				<td style="text-align:left;width:100px;" class="model">
					@Html.TextBoxFor(m => m.CriticalRepairCost, new { id = "txtCriticalRepairCost", @maxlength = "9", onkeypress = "return isAmount(event)" })
				</td>
				<td style="text-align:left;width:100px;">
					@Html.LabelFor(m => m.RemainingRepairCostExihibitC, new { id = "lblRemainingRepairCostExihibitC" })
				</td>
				<td style="text-align:left;width:100px;" class="model">
					@Html.TextBoxFor(m => m.RemainingRepairCostExihibitC, new { id = "txtRemainingRepairCostExihibitC", @maxlength = "9", onkeypress = "return isAmount(event)" })
				</td>
				<td style="text-align:left;width:100px;" class="report">
					@Html.LabelFor(m => m.EscrowEstimate, new { id = "lblEscrowEstimate" })
				</td>
				<td style="text-align:center; width:100px;" class="model">
					@Html.DropDownListFor(m => m.EscrowEstimate, new SelectList(Model.EscrowEstimateTypes, "EscrowEstimateTypeId", "EscrowEstimate"), "Select", new { @class = "form-control", @style = "width:90px" })
				</td>
			</tr>
			<tr>
				<td style="text-align:right;width:100px;" class="report">
					@Html.LabelFor(m => m.RepairCostEstimate, new { id = "lblRepairCostEstimate" })
				</td>
				<td style="text-align:center; width:100px;" class="model">
					@Html.DropDownListFor(m => m.RepairCostEstimate, new SelectList(Model.RepairCostEstimateTypes, "RepairCostEstimateTypeId", "RepairCostEstimate"), "Select", new { @class = "form-control", @style = "width:90px" })
				</td>
				<td style="text-align:left;width:100px;" class="report">
					@Html.LabelFor(m => m.SpecialCondition, new { id = "lblSpecialCondition" })
				</td>
				<td style="text-align:center; width:100px;" class="model">
					@Html.DropDownListFor(m => m.SpecialCondition, new SelectList(Model.SpecialConditionTypes, "SpecialConditionTypeId", "SpecialCondition"), "Select Special Condition ", new { @class = "form-control", @style = "width:90px" })
				</td>
				<td style="text-align:left;width:100px;">
					@Html.LabelFor(m => m.AnnualLeasePayment, new { id = "lblAnnualLeasePayment" })
				</td>
				<td style="text-align:left;width:100px;" class="model">
					@Html.TextBoxFor(m => m.AnnualLeasePayment, new { id = "txtAnnualLeasePayment", @maxlength = "9", onkeypress = "return isAmount(event)" })
				</td>

			</tr>
			<tr>
				<td style="text-align:right;width:100px;" class="report">
					@Html.LabelFor(m => m.ExhibitLetter, new { id = "lblExhibitLetter" })
				</td>
				<td style="text-align:center; width:100px;" class="model">
					@Html.DropDownListFor(m => m.ExhibitLetter, new SelectList(Model.ExhibitLetterTypes, "ExhibitLetterTypeId", "ExhibitLetter"), "Select Exhibit Letter", new { @class = "form-control", @style = "width:90px" })
				</td>
				<td style="text-align:left;width:100px;" class="report">
					@Html.LabelFor(m => m.CC_Name, new { id = "lblCC_Name" })
				</td>
				<td style="text-align:center; width:100px;" class="model">
					@Html.TextBoxFor(m => m.CC_Name, new { id = "txtCC_Name", @maxlength = "100" })
				</td>

				<td style="text-align:left;width:100px;">
					@Html.LabelFor(m => m.CC_ContactDetails, new { id = "lblCC_ContactDetails" })
				</td>
				<td style="text-align:left;width:100px;" class="model">
					@Html.TextBoxFor(m => m.CC_ContactDetails, new { id = "txtCC_ContactDetails", @maxlength = "100" })
				</td>
			</tr>
			<tr>
				<td style="text-align:right;width:100px;" class="report">
					@Html.LabelFor(m => m.Other, new { id = "lblOther" })
				</td>
				<td style="text-align:left; width:500px;" class="model">
					@Html.TextAreaFor(model => model.Other, 2, 40, new { htmlAttributes = new { @class = "form-control", @maxlength = "100" } })
				</td>
				<td style="text-align:left;width:100px;">
					@Html.LabelFor(m => m.AttachExhibitA, new { id = "lblAttach" })
				</td>
				<td colspan="3" style="text-align:left;width:100px;" class="model">
					@Html.CheckBoxFor(m => m.AttachExhibitA, new
					{
						id = "cbIsExhibitA",
						@style = "width:80px;margin-left:7px;"
					})Exhibit A
					@Html.CheckBoxFor(m => m.AttachExhibitB, new
					{
						id = "cbIsExhibitB",
						@style = "width:80px;margin-left:7px;"
					})Exhibit B
					@Html.CheckBoxFor(m => m.AttachExhibitC, new
					{
						id = "cbIsExhibitC",
						@style = "width:80px;margin-left:7px;"
					})Exhibit C
					@Html.CheckBoxFor(m => m.AttachHUD92264aORCF, new
					{
						id = "cbIsHUD92264aORCF",
						@style = "width:80px;margin-left:7px;"
					})HUD-92264a-ORCF
				</td>
			</tr>
		</table>
		<table class="trThickBorder">
			<tr style="width:600px">
				<td style="width:200px">

					<div id="divAgentSigLabel">
						@Html.Label("Agent Signature: ", new { @class = "required" })
						@Html.DisplayFor(model => model.CurrentSignature)
					</div>
				</td>
				<td style="width:20px">&nbsp;</td>
				<td style="width:200px">
					<div id="divWlmSigLabel">
						@Html.Label("WLM Signature: ", new { @class = "required" })
						@Html.DisplayFor(model => model.WLMCurrentSignature)
					</div>
				</td>
			</tr>
			@*<tr style="width:600px">
					<td colspan="7">
						<button type="button" id="GetSignature" class="btn btn-danger btn-sm"> <span class="glyphicon glyphicon-pencil"></span>Authorize</button>
					</td>
				</tr>*@
		</table>
	</div>

	<div>
		@*<button type="button" id="GetSignature" class="btn btn-danger btn-sm"> <span class="glyphicon glyphicon-trash"></span>Authorize</button>*@
		<span class="col-md-5 text-right">
			<button type="submit" class="btn btn-info btn-sm" id="btnComplete">Complete Review</button>
		</span>
	</div>

}

<style type="text/css">
	.table-striped > tbody > tr:nth-child(odd) > td,
	.table-striped > tbody > tr:nth-child(odd) > th {
		background-color: #d9edf7;
	}

	.table {
		font-family: Arial;
		font-size: 12px;
		font-weight: bold;
	}

	.table-curved {
		border-collapse: collapse;
		/*border-collapse: separate;*/
		border: solid #ddd 1px;
		border-radius: 8px;
		border-left: 0px;
		border-top: 0px;
	}



		.table-curved > thead:first-child > tr:first-child > th {
			border-bottom: 0px;
			border-top: solid #ddd 1px;
		}

		.table-curved td, .table-curved th {
			/*border-left: 1px solid #ddd;*/
			border-top: 1px solid #ddd;
		}

		.table-curved tr {
			border-top: 1px solid #ddd;
			border-collapse: collapse;
		}

		.table-curved > :first-child > :first-child > :first-child {
			border-top-left-radius: 8px;
		}

		.table-curved > :first-child > :first-child > :last-child {
			border-top-right-radius: 8px;
		}

		.table-curved > :last-child > :last-child > :first-child {
			border-bottom-left-radius: 8px;
		}

		.table-curved > :last-child > :last-child > :last-child {
			border-bottom-right-radius: 8px;
		}

	.trThickBorder {
		outline: thin solid black;
	}

	.datePickerTextBox {
		width: 100px;
		height: 25px;
	}

	.textBoxmulti {
		border: 1px solid #e2e2e2;
		background: #fff;
		color: #333;
		font-size: 1.0em;
		margin: 5px 0 6px 0;
		padding: 5px;
		width: 800px;
		height: 40px;
	}
	/*.textBox{
		border: 1px solid #e2e2e2;
		background: #fff;
		color: #333;
		font-size: 1.0em;
		margin: 5px 0 6px 0;
		padding: 5px;
		width: 800px;
		height: 40px;
	}*/
</style>