﻿@model Model.Production.ApplicationDetailViewModel
<script type="text/javascript" src="/Scripts/autoNumeric.js"></script>
<style>
    fieldset {
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        border: 1px solid #d9edf7;
    }
</style>
<section id="applicationDetails">
    <fieldset>
        <form name="appForm" class="appForm">
            @Html.HiddenFor(m => m.TaskInstanceId, new { id = "txtTaskInstanceId"})
            <div class="container-fluid">
                <div class="row">
                    <span class="col-md-3 text-right ">
                        @Html.Label("FHA Number")
                    </span>
                    <span class="col-md-3 required">
                        @Html.TextBoxFor(m => m.FHANumber, new {id = "fhaNumberText", disabled = true, @class = "form-control"})
                    </span>
                    <span class="col-md-3 text-right ">
                        @Html.Label("Property Name")
                    </span>
                    <span class="col-md-3 required">
                        @Html.TextBoxFor(m => m.ProjectName, new {disabled = true, @class = "form-control"})
                    </span>
                </div>
                <div class="row">
                    <span class="col-md-3 text-right ">
                        @Html.Label("Project Number")
                    </span>
                    <span class="col-md-3 required">
                        @Html.TextBoxFor(m => m.PropertyId, new {disabled = true, @class = "form-control"})
                    </span>
                    <span class="col-md-3 text-right ">
                        @Html.Label("Street Address")
                    </span>
                    <span class="col-md-3 required">
                        @Html.TextBoxFor(m => m.PropertyStreetAddress, new {disabled = true, @class = "form-control"})
                    </span>
                </div>
                <div class="row">
                    <span class="col-md-3 text-right ">
                        @Html.Label("")
                    </span>
                    <span class="col-md-3 text-right ">
                        @Html.Label("")
                    </span>
                    <span class="col-md-3 text-right ">
                        @Html.Label("City")
                    </span>
                    <span class="col-md-3 required">
                        @Html.TextBoxFor(m => m.PropertyCity, new {disabled = true, @class = "form-control"})
                    </span>
                </div>
                <div class="row">
                    <span class="col-md-3 text-right ">
                        @Html.Label("")
                    </span>
                    <span class="col-md-3 text-right ">
                        @Html.Label("")
                    </span>
                    <span class="col-md-3 text-right ">
                        @Html.Label("State")
                    </span>
                    <span class="col-md-3 required">
                        @Html.TextBoxFor(m => m.PropertyState, new {disabled = true, @class = "form-control"})
                    </span>
                </div>
                <div class="row">
                    <span class="col-md-3 text-right ">
                        @Html.Label("Underwriting Mortgagee Name")
                    </span>
                    <span class="col-md-3 required">
                        @Html.TextBoxFor(m => m.LenderName, new {disabled = true, @class = "form-control"})
                    </span>
                    <span class="col-md-3 text-right ">
                        @Html.Label("Zipcode")
                    </span>
                    <span class="col-md-3 required">
                        @Html.TextBoxFor(m => m.PropertyZip, new {disabled = true, @class = "form-control"})
                    </span>
                </div>
                <div class="row">
                    <span class="col-md-3 text-right ">
                        @Html.Label("Mortgagee Contact Email")
                    </span>
                    <span class="col-md-3 required">
                        @Html.TextBoxFor(m => m.LenderContactEmail, new {disabled = true, @class = "form-control"})
                    </span>
                    <span class="col-md-3 text-right ">
                        @Html.Label("Loan Amount", new {@class = "required"})
                    </span>
                    <span class="col-md-3 required">
                        @Html.TextBoxFor(m => m.LoanAmount, new {id = "loanAmountText", @class = "form-control"})
                    </span>
                </div>
            </div>
            <div class="container-fluid" style="padding-top: 15px">
                <div class="row">
                    <span class="col-md-6 text-right">
                        <button id="btnAppSave" class="btn btn-default" 
                               disabled="disabled" style="background: #ccc; color: #666; border-color: #999">Save</button>

                        @*<input type="submit" name="submitButton" value="Save" id="btnAppSave" class="btn btn-default"
                               disabled="disabled" style="background: #ccc; color: #666; border-color: #999" />*@
                    </span>
                    <span class="col-md-6">
                        <button id="btnAppAttach" class="btn btn-default"
                                style="border-color: #999">
                            Attach
                        </button>
                    </span>
                </div>
            </div>
        </form>
    </fieldset>
</section>

<script>
    $(document).ready(function () {
        $('#loanAmountText').autoNumeric('init', { vMin: 0, mDec: 3 });
        var IsLoanAmountChanged = false;
        $('#loanAmountText').focusout(function () {
            
            var self = $('#loanAmountText');
            var v = self.autoNumeric('get');
            self.autoNumeric('destroy');
            self.val(v);
            var loanAmt = $('#loanAmountText').val();
            //$('#loanAmountText').val(Math.round(loanAmt));
            $('#loanAmountText').val(Math.round(loanAmt * 100) / 100);
            $('#loanAmountText').autoNumeric('init', { vMin: 0, mDec: 3 });
            IsLoanAmountChanged = true;
            if (IsLoanAmountChanged) {
                document.getElementById("btnAppSave").disabled = false;
                $("#btnAppSave").removeAttr("style");
                $('#btnAppSave').attr('style', 'border-color: #999');
            }
        });

        
        //$('#btnAppSave').click(function () {
        $('.appForm').submit(function (e) {
            e.preventDefault();
            //debugger;
            $('input').each(function (i) {
                var self = $(this);
                try {
                    var v = self.autoNumeric('get');
                    self.autoNumeric('destroy');
                    self.val(v);
                } catch (err) {
                    console.log("Not an autonumeric field: " + self.attr("name"));
                }
            });
            $("#spinner").attr('class', 'overlay');
            //var activeBtn = $(this).text();
            //if (activeBtn === "Save") {
            $.ajax({
                url: '/ProductionQueue/SaveApplicationDetails/',@*'@Url.Action("SaveApplicationDetails","ProductionQueue")',*@
                data: {fhaNumber: $('#fhaNumberText').val(), loanAmount: $('#loanAmountText').val()},
                 type: 'POST',
                success: function (response) {
                    if (response === "Success") {
                        alert("Loan Amount Updated Successfully");
                        document.getElementById("btnAppSave").disabled = true;
                        $('#btnAppSave').attr('style', 'border-color: #999');
                        $('#btnAppSave').attr('style', 'background: #ccc');
                        $('#btnAppSave').attr('style', 'color: #666');
                        $('#loanAmountText').autoNumeric('init', { vMin: 0, mDec: 3 });
                        return false;
                    }
                },
                error: function (xhr, status, p3, p4) {
      
                    //if (xhr.status === 200) {

                    //}
                    $('#loanAmountText').autoNumeric('init', { vMin: 0, mDec: 3 });
                    var err = "Error " + " " + status + " " + p3 + " " + p4;
                    if (xhr.responseText && xhr.responseText[0] == "{")
                        err = JSON.parse(xhr.responseText).Message;
                    console.log(err);
                }
            });
            //}
            
            //return false;
        });

        $('#btnAppAttach').click(function (e) {
            e.preventDefault();
            $('#exTab3 a[href="#10b"]').tab('show');
            $('#AttachFiles').load('@Url.Action("GetAttachFileInfo", "ProductionQueue")', { taskInstanceId: $('#txtTaskInstanceId').val(), fileType: '@(Enum.GetName(typeof(SharepointSections), SharepointSections.appDetails))' });
            return false;
        });
    });
</script>