﻿@model Model.Production.AttachFilesViewModel
<link href="../../Content/formUpload.css" rel="stylesheet">
@*<link href="~/Content/ui.jqgrid.css" rel="stylesheet" />*@
@*<script src="~/Scripts/jquery-1.9.1.min.js"></script>*@
<script src="~/Scripts/free-jqGrid/jquery.jqGrid.min.js"></script>

<link href="~/Content/themes/redmond/jquery-ui-1.12.1.custom/jquery-ui.css" rel="stylesheet" />
@*<script type="text/javascript" src="~/Content/themes/redmond/jquery-ui-1.12.1.custom/jquery-ui.js"></script>*@
<style>
   
    
    fieldset {
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        border: 1px solid #d9edf7;
    }
    

    .fileClass {
        width: 75px !important;
        padding: 5px !important;
    }
   
    
    /*[type=file] {
        position: absolute;
        filter: alpha(opacity=0);
        opacity: 0;
    }

    [type=file] + label {
        border: 1px solid #CCC;
        border-radius: 3px;
        text-align: left;
        padding: 10px;
        width: 150px;
        margin: 0;
        left: 0;
        position: relative;
    }

    [type=file] + label {
        text-align: center;
        left: 0em;
        top: 0.5em;
        
        background: #333;
        color: #fff;
        border: none;
        cursor: pointer;
    }

        [type=file] + label:hover {
            background: #3399ff;
        }*/   

    /*background: #333;*/
    
    .badge {
        color: #428bca;
        position: relative;
        top: 1px;
        right: -3px;
        padding: 2px 4px;
    }

    .btn-primary .badge {
        color: #428bca;
        background-color: #8bbce2;
    }

    .ui-jqgrid {
        font-family: Arial;
    }

        .ui-jqgrid > .ui-jqgrid-view {
            font-size: 12px;
        }

            .ui-jqgrid > .ui-jqgrid-view button {
                font-size: 10px;
            }

            .ui-jqgrid > .ui-jqgrid-view a {
                color: #428bca;
                font-weight: bolder;
            }

        jqdialog .glyphicon, .ui-jqgrid .glyphicon {
            font-size: 20px;
            top: auto;
            color: darkslateblue;
        }
    .disabled {
        pointer-events: none;
       
    } 
    </style>
    <script>
        //karrinew
        function getFile(fileid) {
            alert("hello:" + fileid);
            window.open("/OPAForm/DownloadTaskFile/?taskfileid=" + fileid, '_blank');
        }

        function handleDeleteFile(id) {
            //debugger;
            var childFileId = id;
            $("#spinner").attr('class', 'overlay');
            $.ajax({
                type: "POST",
                url: "/OPAForm/Deletefile/?taskfileid=" + childFileId,

                contentType: false,
                processData: false,
                cache: false,
                success: function (result) {
                    //    debugger;
                    if (result === "Success") {
                        alert("File Deleted Successfully");
                        jQuery('#spFileGrid').trigger('reloadGrid');
                    }
                },
                error: function (xhr, status, p3, p4) {
                    //  debugger;
                    var err = "Error " + " " + status + " " + p3 + " " + p4;
                    if (xhr.responseText && xhr.responseText[0] == "{")
                        err = JSON.parse(xhr.responseText).Message;
                    console.log(err);
                }
            });
        }

</script>
<section id="attachInfo">
    @using (Html.BeginForm("#", "#", FormMethod.Post, new {@class = "modal-form", id = "attachSPFiles"}))
    {
         <label id="lblsmg" style="font-size: small; font-style: italic; color: red; display: none;"></label>
        <fieldset>

            @Html.HiddenFor(m => m.FHANumber, new {id = "txtFhaNumber"})
            @Html.HiddenFor(m => m.TaskInstanceId, new {id = "txtTaskInstanceId"})
            @Html.HiddenFor(m => m.SelectedSectionName, new {id = "txtSelectedSectionName"})
            @Html.HiddenFor(m => m.TransAccessStatus, new { id = "TransAccessStatus" })
            <br/>
            <div class="container-fluid">
               
                <div class="row">
                    <span class="col-md-3 text-right ">
                        @Html.Label("Section Name")
                    </span>
                    <span class="col-md-3 required">
                        @Html.DropDownList("AttachSectionNames", null, new {@class = "form-control", id = "AttachSectionName"})
                    </span>
                    <div id="buttondiable">
                        <span class="col-md-6">
                            <span>

                                <input class="fileClass" id="file_WP" name="WP" type="file" value="FWP" multiple="multiple">
                                <label id="file_WP" for="file_WP" class="fileClass"><strong> Attach </strong></label>

                            </span>
                        </span>
                    </div>
                </div>
            </div>
            <br/>

        </fieldset>
        <br/>
        <fieldset>
            <br/>
            <div class="container-fluid">
                <div class="row">
                    <span class="col-md-3 text-right ">
                        @Html.Label("Section Name")
                    </span>
                    <span class="col-md-3 required">
                        @Html.DropDownList("SearchSectionNames", null, new {@class = "form-control", id = "SearchSectionName"})
                    </span>
                </div>
            </div>
            <br/>
            <div class="container-fluid" id="spFiles">
                <table id="spFileGrid"></table>
                <div id="spFileGridPager"></div>
            </div>
            <br/>
        </fieldset>
    }
</section>


<script>
    $(document).ready(
        function() {
            //debugger;

            var CheckTransAccessStatus = $('#TransAccessStatus').val();
            if (CheckTransAccessStatus.toLowerCase() == "true")
            {
                $("#lblsmg").show();
                $("#lblsmg").text("The file upload functionality is not available at this time. Please try it later.");
                $('#buttondiable').addClass("disabled");
            }

            $("#spFileGrid").jqGrid({
                url: "/ProductionQueue/GetUploadedFilesForSharepoint?taskInstanceId=" + $("#txtTaskInstanceId").val() + "&fileType=" + $('#SearchSectionName').val()+"",
                datatype: 'json',
                mtype: 'POST',

                colNames: ['File Name', 'File Size(KB)', 'Role', 'Uploaded By', 'Uploaded On', 'Section Name', 'Remove Attachment'],
                colModel: [
                    {
                        Key: false,
                        name: 'FileName',
                        index: 'FileName',
                        width: 250,
                        type: 'link',
                        cellattr: function(cellvalue, options, rowObject) {
                            if (rowObject.FileName != null) {

                                return ' style="text-decoration: underline"';
                            }
                        },
                        formatter: function(cellvalue, options, rowObject) {

                            if (rowObject.FileName == null) {
                                return "NA";
                            } else {
                                //karrinew
                                //return '<a onclick="event.preventDefault();" href="/OPAForm/DownloadTaskFile/?taskfileid=' + rowObject.FileId + '">' + rowObject.FileName + '</a>';
                                return '<a onclick="event.preventDefault(); getFile(' + (rowObject.FileId) + ');" href="#" >' + rowObject.FileName + '</a>';
                            }
                        }
                    },
                    {
                        name: 'FileSize',
                        index: 'FileSize',
                        editable: false,
                        width: 200,

                    },
                    { Key: false, name: 'RoleName', index: 'RoleName', editable: false, width: 200 },
                    { Key: false, name: 'UploadedBy', index: 'UploadedBy', editable: false, width: 200 },
                    { Key: false, name: 'UploadedOn', index: 'UploadedOn', editable: false, formatter: 'date', width: 150, formatoptions: { newformat: 'm/d/Y' } },
                    { Key: false, name: 'SectionName', index: 'SectionName', editable: false, width: 200 },
                    {
                        Key: false,
                        name: 'FileId',
                        index: 'FileId',
                        width: 150,
                        sortable: false,
                        formatter: function(cellvalue, options, rowObject) {

                            if (rowObject.FileName == null) {
                                return "NA"
                            } else {
                                // return '   <input id="' + rowObject.fileId + '" type=\'button\' value=\'Delete\' class=\'deleteLinkClass\'    />';
                                return "<img src='/Content/images/delete.jpg' id='" + rowObject.FileId + "' height='10' width='10' align='center' alt='my image' value=\'Delete\' class=\'deleteLinkClass\' />";
                            }
                        },
                        formatoptions: {
                            keys: true,
                            editformbutton: true
                        }

                    },
                ],

                pager: jQuery('#spFileGridPager'),
                cellEdit: false,
                cellsubmit: 'clientArray',
                rowNum: 10,
                //loadonce: true,
                rowList: [10, 20, 30, 40],
                shrinkToFit: false,
                height: '100%',
                viewrecords: true,
                gridview: true,
                autoencode: true,
                width: 1075,

                emptyrecords: 'No records to display',
                jsonReader: {
                    root: "rows",
                    page: "page",
                    total: "total",
                    records: "records",
                    repeatitems: false
                },
                loadComplete: function(data) {
                },
                //autowidth: true,
                multiselect: false,

                onPaging: function(pgButton) {
                },


                beforeSelectRow: function(rowid, e) {
                    //debugger;
                    var $self = $(this),
                        p = $self.jqGrid("getGridParam"),
                        $td = $(e.target).closest("tr.jqgrow>td"),
                        cm = $td.length > 0 ? p.colModel[$td[0].cellIndex] : null,
                        cmName = cm != null ? cm.name : null;

                    if (cmName === "FileId") {
                        handleDeleteFile(e.target.id);
                        

                    }
                    return false;
                }

            }).navGrid('#spFileGridPager', { edit: false, add: false, del: false, search: true, refresh: true}, {}, {}, {}, { overlay: false });


            $('#AttachSectionName').change(function () {
                $('#txtSelectedSectionName').val($('#AttachSectionName').val());
            });

            $('#SearchSectionName').change(function () {
                $('#txtSelectedSectionName').val($('#SearchSectionName').val());
                $("#spFileGrid").jqGrid('setGridParam', {
                    url: '@Url.Action("GetUploadedFilesForSharepoint", "ProductionQueue")',
                    datatype: 'json',
                    postData: { "taskInstanceId": $('#txtTaskInstanceId').val(), "fileType": $('#SearchSectionName').val() }
                }).trigger('reloadGrid');
            });
            
            $('.fileClass').on('change', function (e) {

                var Size = 0;
                var cnt = this.files.length;
                for (i = 0; i < cnt; i++) {
                    Size += this.files[i].size;
                }

                if (Size > 1073741824) {
                    //show an alert to the user
                    alert("Your Allowed file size exceeded. (Max. 1 GB)");

                    //reset file upload control
                    return false;
                }

                for (i = 0; i < cnt; i++) {
                    var uploadFile = this.files[i];
                    if (!(/\.(gif|doc|DOC|DOCX|xls|xlsx|XLS|XLSX|pdf|PDF)$/i).test(uploadFile.name)) {
                        alert('The file is not in the expected format. Please make sure the file you are attaching is in accepted format gif,doc,docx,pdf,xls,xlsx.');
                        return false;
                    }

                }
                var files = e.target.files;

                
                //fhaRequestViewModel["CreditLetterFile"] = files[0];
                //debugger;
                if (files.length > 0) {
                    if (window.FormData !== undefined) {
                        var data = new FormData();
                        for (var x = 0; x < files.length; x++) {
                            data.append("file" + x, files[x]);
                        }

                        data.append("FHANumber", $('#txtFhaNumber').val());
                        data.append("TaskInstanceId", $('#txtTaskInstanceId').val());
                        data.append("SelectedSectionName", $('#AttachSectionName').val());
                       

                        $("#spinner").attr('class', 'overlay');
                        $.ajax({
                            url: '@Url.Action("UploadFile", "ProductionQueue")',
                            data: data,
                            contentType: false,
                            processData: false,
                            cache: false,
                            type: 'POST',
                            success: function (response) {
                                if (response === "Success") {

                                    alert("File Uploaded Successfully");
                                    jQuery('#spFileGrid').trigger('reloadGrid');
                                }
                            },
                            error: function (xhr, status, p3, p4) {
                                //if (xhr.status === 200) {

                                //}
                                var err = "Error " + " " + status + " " + p3 + " " + p4;
                                if (xhr.responseText && xhr.responseText[0] == "{")
                                    err = JSON.parse(xhr.responseText).Message;
                                console.log(err);
                            }
                        });

                    } else {
                        alert("This browser doesn't support HTML5 file uploads!");
                    }
                }
            });


        });

    
</script>