﻿@model Model.Production.MiscellaneousInformationViewModel

<style>
    fieldset {
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        border: 1px solid #d9edf7;
    }
</style>
@if(Model.FHANumber!=null)
{
<section id="generalInformation">
    <fieldset>
        @using (Html.BeginForm("#", "#", FormMethod.Post, new {@class = "modal-form", id = "miscInfoForm"}))
        {
            @Html.HiddenFor(m => m.FHANumber, new { id = "txtFhaNumber" })
            @Html.HiddenFor(m => m.TaskInstanceId, new { id = "txtTaskInstanceId" })
            @Html.HiddenFor(m => m.DisplayMiscellaneousComments, new { id = "txtDisplayMiscellaneousComments" })
            @Html.HiddenFor(m => m.IsUnderwritingContractorAssigned, new { id = "txtIsUnderwritingContractorAssigned" })
            @Html.HiddenFor(m => m.UWContractorName, new { id = "txtUWContractorName" })
            @Html.HiddenFor(m => m.UWContractorEmailAddress, new { id = "txtUWContractorEmailAddress" })
            @Html.HiddenFor(m => m.UWContractorPhoneNumber, new { id = "txtUWContractorPhoneNumber" })
            @Html.HiddenFor(m => m.DisplayOtherQueueWorkComments, new { id = "txtDisplayOtherQueueWorkComments" })
            
            <div class="container-fluid">
                <div class="row">
                    <span class="col-md-3 text-right ">
                            @Html.Label("Has Early Commencement been Requested?")
                        </span>
                    <span class="col-md-1 text-right">
                            <label>Yes</label>
                            <span>
                                @Html.RadioButtonFor(m => m.IsEarlyCommencementRequested, true, new {@id = "earlyYes", @class = "rbFakeClass", @style = "width:20px;margin-left:10px;"})
                            </span>
                        </span>
                    <span class="col-md-1 text-right">
                            <label>No</label>
                            <span>
                                @Html.RadioButtonFor(m => m.IsEarlyCommencementRequested, false, new {@id = "earlyNo", @class = "rbFakeClass", @style = "width:20px;margin-left:10px;"})
                            </span>
                        </span>
                    <span class="col-md-4 text-right ">
                            @Html.Label("Has LDL been Issued?")
                        </span>
                    <span class="col-md-1 text-right">
                            <label>Yes</label>
                            <span>
                                @Html.RadioButtonFor(m => m.IsLDLIssued, true, new {@id = "ldlYes", @class = "rbFakeClass", @style = "width:20px;margin-left:10px;"})
                            </span>
                        </span>
                    <span class="col-md-1 text-right">
                            <label>No</label>
                            <span>
                                @Html.RadioButtonFor(m => m.IsLDLIssued, false, new {@id = "ldlNo", @class = "rbFakeClass", @style = "width:20px;margin-left:10px;"})
                            </span>
                        </span>
                </div>
                <div class="row">
                    <span class="col-md-3 text-right ">
                            @Html.Label("Date Requested")
                        </span>
                    <span class="col-md-3 required">
                            @Html.TextBoxFor(m => m.EarlyCommencementRequestedDate, "{0:MM/dd/yyyy}", new { @class = "form-control datepicker" })
                        </span>
                    <span class="col-md-3 text-right ">
                            @Html.Label("Date Issued")
                        </span>
                    <span class="col-md-3 required">
                            @Html.TextBoxFor(m => m.LDLIssuedDate, "{0:MM/dd/yyyy}", new { @class = "form-control datepicker" })
                        </span>
                </div>
                <div class="row">
                    <span class="col-md-3 text-right ">
                            @Html.Label("Date Issued")
                        </span>
                    <span class="col-md-3 text-right ">
                            @Html.TextBoxFor(m => m.EarlyCommencementIssuedDate, "{0:MM/dd/yyyy}", new { @class = "form-control datepicker" })
                        </span>
                    <span class="col-md-3 text-right ">
                            @Html.Label("Date Complete Response Received")
                        </span>
                    <span class="col-md-3 required">
                            @Html.TextBoxFor(m => m.LDLCompleteResponseReceived, "{0:MM/dd/yyyy}", new { @class = "form-control datepicker" })
                        </span>
                </div>
                <br/>
                <div class="row">
                    <span class="col-md-3 text-right ">
                            @Html.Label("Comments")
                        </span>
                    <span class="col-md-4 text-right ">
                            @Html.TextAreaFor(m => m.DisplayMiscellaneousComments, new {disabled = true, @class = "form-control", @style = "height:100px;", @id="displayMiscTxt"})
                        </span>
                    <span class="col-md-4 text-right ">
                            @Html.TextAreaFor(m => m.MiscellaneousComments, new {@class = "form-control", @style = "height:100px;", @id="miscTxt"})
                        </span>
                </div>
                <br/>
                <div class="row">
                    <span class="col-md-3 text-right ">
                            @Html.Label("Is Underwriting Contractor Assigned?")
                        </span>
                    <span class="col-md-1 text-right">
                            <label>Yes</label>
                            <span>
                                @Html.RadioButtonFor(m => m.IsUnderwritingContractorAssigned, true, new { @id = "uwYes", @class = "rbFakeClass", @style = "width:20px;margin-left:10px;", disabled = true })
                            </span>
                        </span>
                    <span class="col-md-1 text-right">
                            <label>No</label>
                            <span>
                                @Html.RadioButtonFor(m => m.IsUnderwritingContractorAssigned, false, new { @id = "uwNo", @class = "rbFakeClass", @style = "width:20px;margin-left:10px;", disabled = true })
                            </span>
                        </span>
                    <span class="col-md-4 text-right ">
                            @Html.Label("Account Executive Assignment")
                        </span>
                    <span class="col-md-3 required">
                            @Html.DropDownListFor(m => m.SelectedAeId, Model.AEList,"Select Account Executive", new {@class = "form-control"})
                        </span>
                </div>
                <div class="row">
                    <span class="col-md-3 text-right ">
                            @Html.Label("UW Contractor Name")
                        </span>
                    <span class="col-md-3 required">
                            @Html.TextBoxFor(m => m.UWContractorName, new {disabled = true, @class = "form-control"})
                        </span>
                    <span class="col-md-3 text-right ">
                            @Html.Label("iREMS Completed", new {@class = "required"})
                        </span>
                    <span class="col-md-1 text-right">
                            <label>Yes</label>
                            <span>
                                @Html.RadioButtonFor(m => m.IsIremsCompleted, true, new {@id = "iremsYes", @class = "rbFakeClass", @style = "width:20px;margin-left:10px;"})
                            </span>
                        </span>
                    <span class="col-md-1 text-right">
                            <label>No</label>
                            <span>
                                @Html.RadioButtonFor(m => m.IsIremsCompleted, false, new {@id = "iremsNo", @class = "rbFakeClass", @style = "width:20px;margin-left:10px;"})
                            </span>
                        </span>
                </div>
                <div class="row">
                    <span class="col-md-3 text-right ">
                            @Html.Label("UW Contractor Email Address")
                        </span>
                    <span class="col-md-3 required">
                            @Html.TextBoxFor(m => m.UWContractorEmailAddress, new {disabled = true, @class = "form-control"})
                        </span>
                    <span class="col-md-3 text-right ">
                            @Html.Label("APPS Completed", new {@class = "required"})
                        </span>
                    <span class="col-md-1 text-right">
                            <label>Yes</label>
                            <span>
                                @Html.RadioButtonFor(m => m.IsAppsCompleted, true, new {@id = "appsYes", @class = "rbFakeClass", @style = "width:20px;margin-left:10px;"})
                            </span>
                        </span>
                    <span class="col-md-1 text-right">
                            <label>No</label>
                            <span>
                                @Html.RadioButtonFor(m => m.IsAppsCompleted, false, new {@id = "appsNo", @class = "rbFakeClass", @style = "width:20px;margin-left:10px;"})
                            </span>
                        </span>
                </div>
                <div class="row">
                    <span class="col-md-3 text-right ">
                            @Html.Label("UW Contractor Phone Number")
                        </span>
                    <span class="col-md-3 required">
                            @Html.TextBoxFor(m => m.UWContractorPhoneNumber, new {disabled = true, @class = "form-control"})
                        </span>
                    <span class="col-md-3 text-right ">
                            @Html.Label("iREMS Printouts Saved", new {@class = "required"})
                        </span>
                    <span class="col-md-1 text-right">
                            <label>Yes</label>
                            <span>
                                @Html.RadioButtonFor(m => m.IsIremsPrintoutSaved, true, new {@id = "printYes", @class = "rbFakeClass", @style = "width:20px;margin-left:10px;"})
                            </span>
                        </span>
                    <span class="col-md-1 text-right">
                            <label>No</label>
                            <span>
                                @Html.RadioButtonFor(m => m.IsIremsPrintoutSaved, false, new {@id = "printNo", @class = "rbFakeClass", @style = "width:20px;margin-left:10px;"})
                            </span>
                        </span>
                </div>
                <div class="row">
                    <span class="col-md-6 text-right ">
                        </span>
                    <span class="col-md-3 text-right ">
                            @Html.Label("Miranda Completed CMS List Check?", new {@class = "required"})
                        </span>
                    <span class="col-md-1 text-right">
                            <label>Yes</label>
                            <span>
                                @Html.RadioButtonFor(m => m.IsMirandaCompletedCMSListCheck, true, new {@id = "checkYes", @class = "rbFakeClass", @style = "width:20px;margin-left:10px;"})
                            </span>
                        </span>
                    <span class="col-md-1 text-right">
                            <label>No</label>
                            <span>
                                @Html.RadioButtonFor(m => m.IsMirandaCompletedCMSListCheck, false, new {@id = "checkNo", @class = "rbFakeClass", @style = "width:20px;margin-left:10px;"})
                            </span>
                        </span>
                </div>
                <br/>
                <div class="row">
                    <span class="col-md-3 text-right ">
                            @Html.Label("Other Queue Work Comments")
                        </span>
                    <span class="col-md-4 text-right ">
                            @Html.TextAreaFor(m => m.DisplayOtherQueueWorkComments, new {disabled = true, @class = "form-control", @style = "height:100px;", @id = "displayQueueTxt"})
                        </span>
                    <span class="col-md-4 text-right ">
                            @Html.TextAreaFor(m => m.OtherQueueWorkComments, new {@class = "form-control", @style = "height:100px;", @id="queueTxt"})
                        </span>
                </div>
                <br/>
            </div>
            <div class="container-fluid" style="padding-top: 15px">
                <div class="row">
                    <span class="col-md-6 text-right">
                            <button id="btnMiscSave" class="btn btn-default">
                                Save
                            </button>
                    </span>
                    <span class="col-md-6">
                        <button id="btnAttachMisc" class="btn btn-default"
                                style="border-color: #999">
                            Attach
                        </button>
                    </span>
                </div>
            </div>
        }
    </fieldset>
</section>
}
else{
<div class="alert alert-info">
    <strong>Info!</strong> Miscellaneous Information is only Available for Application Processes! Select Application from dropdown list to see Miscellaneous Info details!
</div>
}
<script>
    $(document).ready(function () {

        $('.datepicker').datepicker();
        $('.datepicker').change(function () {
            var date = $(this).val();
            var arrDate = date.split("/");
            var today = new Date();
            var userSelectedDate = new Date(arrDate[2], arrDate[0] - 1, arrDate[1]);

            if (userSelectedDate > today) {
                alert('Date must not be in the future.');
                $(this).val('');
            }
        });
        
        $('#miscInfoForm').submit(function (e) {
            e.preventDefault();
            //debugger;
            //$("#spinner").attr('class', 'overlay');
            //var activeBtn = $(this).id();
            //if (activeBtn === "Save") {
            $('#GeneralInfo').empty();
                $.ajax({
                    url: '/ProductionQueue/SaveMiscellaneousInformationDetails/',
                    data: $('#miscInfoForm').serialize(),
                    type: 'POST',
                    success: function (response) {
                        if (response === "Success") {
                            alert("Information Updated Successfully");
                            if ($('#queueTxt').val() !== "") {
                                $('#displayQueueTxt').val($('#displayQueueTxt').val()+$('#queueTxt').val());
                                $('#queueTxt').val("");
                            }
                            if ($('#miscTxt').val() !== "") {
                                $('#displayMiscTxt').val($('#displayMiscTxt').val()+$('#miscTxt').val());
                                $('#miscTxt').val("");
                            }
                            return false;
                        }
                    },
                    error: function (xhr, status, p3, p4) {
                
                        var err = "Error " + " " + status + " " + p3 + " " + p4;
                        if (xhr.responseText && xhr.responseText[0] == "{")
                            err = JSON.parse(xhr.responseText).Message;
                        console.log(err);
                    }
                });
            //}
        });

        $('#btnAttachMisc').click(function (e) {
            e.preventDefault();
            $('#exTab3 a[href="#10b"]').tab('show');
            $('#AttachFiles').load('@Url.Action("GetAttachFileInfo", "ProductionQueue")', { taskInstanceId: $('#txtTaskInstanceId').val(), fileType: '@(Enum.GetName(typeof(SharepointSections), SharepointSections.miscInfo))' });
            return false;
        });
    });
</script>