﻿

<script type="text/javascript">
    function userSelected(target) {
        $('#dialogCommon').dialog('close');
        if ($(target).val() == 'Certify') {
            $('#txtAgreementAccepted').val(true);
            $('#btnSubmit').focus();
            $('#rdCanProvideAllPhotosInvoices')[0].disabled = true;
        }
        return false;
    }
</script>

<div class="container-fluid">
    <div class="row" style="margin-top:20px;">
        <div>
            <p>
            I hereby certify that all documents and information will be  <strong>processed</strong> according to the Healthcare Mortgage Insurance Program Handbook <b>No. 42321, Section 3,</b> Chapter 3-3.2.
          
        </div>
    </div>

    <br />

    <div class="row" style="margin-left:230px;">
        <span class="col-md-2">
            <input id="btnOk" type="submit" name="agreeOrNot" class="form-control" value="Certify" onclick="userSelected(this)">
        </span>
    </div>
</div>