﻿@model HUDHealthcarePortal.Model.AssetManagement.NonCriticalRepairsViewModel
 
   @foreach (var item in Model.RulesCheckList)
    {
        var isSelected = Model.ReferalReasons.Any(r => r.RuleId == item.RuleId);
        <div class="row">
            <span class="col-md-3 text-right small">
            </span>
            <span class="col-md-9   text-left">
                @Html.CheckBox(item.Description, isSelected, new { @disabled = "disabled" })
               @Html.Label(item.Description)
                </span>
        </div>
    }