﻿<script type="text/javascript">
    function userSelected(target) {
        $('#dialogCommon').dialog('close');

        if ($(target).val() == 'Ok') {
            if (requestStatus == '1' || requestStatus == '4')
            {
                $('#btnSubmit').prop("disable", true);
                location.href = '/Task/MyTasks?page='+'@TempData["page"]'+'&sort='+'@TempData["sort"]'+'&sortdir='+'@TempData["sortdir"]';
            }
            else if(requestStatus == '2' || requestStatus == '3')
                $('#btnSubmit').click();
        }
        else {

        }
        return false;
    }
</script>
<div class="container-fluid">
    <div class="row" style="margin-top:20px;">
        <div>
            <p></p>
            @if((int)TempData["RequestStatus"] == 1)
            {  
                <p>Your application was successfully submitted for further review by Office of Residential Care Facilities</p>
            }
            else if ((int)TempData["RequestStatus"] == 2 || (int)TempData["RequestStatus"] == 3)
            {
                <p>Please verify that the data is correct before accept</p>
            }
            else if ((int)TempData["RequestStatus"] == 4)
            {
                <p>Your application was approved</p>
            }
             
        </div>
    </div>

    <br />

    <div class="row" style="margin-left:230px;">
        <span class="col-md-2">
            <input id="btnOk" type="submit" name="agreeOrNot" class="form-control" value="Ok" onclick="userSelected(this)">
        </span>
    </div>
</div>
<script>
    var requestStatus = '@TempData["RequestStatus"]';
</script>