﻿<script type="text/javascript">
    function userSelected(target) {
        $('#dialogCommon').dialog('close');
        if ($(target).val() == 'Ok') {
            $('#txtPopup').val(true);
            $('#txtAgreementAccepted').val(true);
            $('#IsAgreementAccepted').prop('checked', true);
            $('#IsAgreementAccepted').prop('disabled', true);
            $('#btnSubmit').focus();
           // $('#chkIsAgreementAccepted').checked = true;
            return false;
          //  $('#btnSubmit').click();
        }
        else {
            $('#txtPopup').val(false);
            $('#txtAgreementAccepted').val('false');
            $('#IsAgreementAccepted').prop('checked', false);

        }
        return false;
    }
</script>
<div class="container-fluid">
    <div class="row" style="margin-top:20px;">
        <div>
            <p></p>
            <p>By accepting this electronic request you will be submitted to compliance monitoring</p>
            <p>I hereby certify that all documents and information will be <b>processed</b> according to the Healthcare Mortgage Insurance Program Handbook No. 42321, Section 3, Chapter 3-3.2.</p>
            <p>I hereby certify that all documents and information will be <b>maintained</b> according to the Healthcare Mortgage Insurance Program Handbook No. 42321, Section 1, Chapter 2-2.7.</p>
        </div>
    </div>

    <br />

    <div class="row" style="margin-left:230px;">
        <span class="col-md-2">
            <input id="btnOk" type="submit" name="agreeOrNot" class="form-control" value="Ok" onclick="userSelected(this)">
        </span>
        <span class="col-md-2">
            <input id="btnCancel" type="submit" name="agreeOrNot" class="form-control" value="Cancel" onclick="userSelected(this)">
        </span>
    </div>
</div>