﻿@using Elmah.ContentSyndication
@model PaginateSortModel<TaskReAssignmentViewModel>

<script type="text/javascript">
    $(document).ready(
function () {
    styleGrid();
    $("#dialogNotesDetail").dialog({
        title: 'Notes Detail',
        autoOpen: false,
        resizable: true,
        height: '500',
        width: '680',
        show: { effect: 'fade' },
        modal: true,
        draggable: true,
        closeOnEscape: false,
        close: function (event, ui) {
            $(this).dialog("close");
        },
        open: function (event, ui) {
            $(this).load('../Task/TaskNotesDetail', { id: g_modal_paramId });
            if ('@TempData["bShowCloseBtn"]' == "False")
                $(".ui-dialog-titlebar-close").hide();
        },
    });
}
);

    function styleGrid() {
        $('.webGrid .color').each(function (index, element) { $(element).parent().css('background-color', $(element).html()); });
        $('.webGrid').fixedHeaderTable({ height: '490', width: '1260', fixedColumn: true, footer: true, themeClass: 'fixedHeader' });
    }
</script>
@{
    var grid = new WebGrid(canPage: true, rowsPerPage: 10,
        selectionFieldName: "selectedRow",
        ajaxUpdateContainerId: "gridContent",
        ajaxUpdateCallback: "styleGrid");
    grid.Bind(Model.Entities, autoSortAndPage: false, rowCount: Model.TotalRows);
}
<div id="dialogNotesDetail"></div>
<div id="gridContent">
    @{
        var gridColumns = new List<WebGridColumn>();

        gridColumns.Add(grid.Column("ItemName", "Name", format: (item) => string.IsNullOrEmpty(item.ItemName) ? new MvcHtmlString(String.Empty) : Html.ActionLink(((object)item.ItemName) + " (" + ((object)item.FHANumber).ToString() + ")", "GetTaskDetail", "Task", new { id = item.TaskId, fromTaskReAssignment = true, reAssignedTo = item.ReAssignedTo, @style = "text-decoration:underline" }, null)));
        gridColumns.Add(grid.Column("TaskName", "Action", style: "description"));
        gridColumns.Add(grid.Column("Status", "Status", format: (item) =>
        {
            if (item.Status == FormUploadStatus.Done)
            {
                return Html.Raw("<img src=\"../Content/images/stop.png\" />");
            }
            if (item.Status == FormUploadStatus.AssignedToOther)
            {
                return Html.Raw("<img src=\"../Content/images/pause.png\" />");
            }
            return Html.Raw("<img src=\"../Content/images/play.png\" />");
        }
            ));
        gridColumns.Add(grid.Column("MyStartTime", "Last Updated Time", style: "description"));
        gridColumns.Add(grid.Column("FromAE", "From AE", style: "description"));
        gridColumns.Add(grid.Column("AssignedBy", "Assigned By", style: "description"));
        gridColumns.Add(grid.Column("AssignedTo", "Assigned To", style: "description"));
        gridColumns.Add(grid.Column("ReAssignedTo", "Re-Assigned To", style: "description"));
        gridColumns.Add(grid.Column("ReAssignedByName", " Re-Assigned By", style: "description"));
        gridColumns.Add(grid.Column("CreatedOn", " Re-Assigned On", style: "description"));
        gridColumns.Add(grid.Column("Notes", "Current Notes", format: (item) => string.IsNullOrEmpty(item.Notes) ? new MvcHtmlString(String.Empty) : HtmlHelperExt.PopupLink("dialogNotesDetail", HtmlHelperExt.TruncateToString(((object)item.Notes).ToString(), 30), item.TaskInstanceId.ToString(), item.Notes)));
        gridColumns.Add(grid.Column("Notes", "Historic Notes", format: (item) => HtmlHelperExt.PopupImageLink("dialogNotesDetail", "Notes History", item.TaskInstanceId.ToString(), "/Content/images/comments.png", "Notes History")));
        //hiding the due date column - user story 589
        //gridColumns.Add(grid.Column("DueDate", "Due Date", style: "description"));
        gridColumns.Add(grid.Column("HasOpenedByMe", "Has Opened", style: "description"));
        gridColumns.Add(grid.Column("Duration", "Duration", format: (item) =>
        {
            if (item.Status == FormUploadStatus.Done)
            {
                return Html.Raw("<label>Complete (" + (item.StartTime.Date - item.WaitingStartTime.Date).Days + " days)</label>");
            }
            return Html.Raw("<label>In Process (" + (DateTime.UtcNow.Date - item.CreatedOn.Date).Days + " days)</label>");
        }
        ));
    }
    @if (Model.Entities.Any())
    {
        @grid.GetHtml(tableStyle: "webGrid",
                headerStyle: "header_row",
                rowStyle: "item_row",
                alternatingRowStyle: "item_alt_row",
                selectedRowStyle: "select",
               mode: WebGridPagerModes.All,
               firstText: "<< First",
               previousText: "< Prev",
               nextText: "Next >",
               lastText: "Last >>",

                columns: gridColumns.ToArray())
    }
    else
    {
        <p style="margin-left:20px;">@(string.IsNullOrEmpty(ViewBag.EmptyMessage) ? "No data found." : @ViewBag.EmptyMessage)</p>
    }
</div>
@*@section Styles {
        <link href="@Url.Content("~/Content/webGrid.css")" rel="stylesheet" type="text/css" />
    }*@