﻿@model IList<UploadStatusViewModel>

<script type="text/javascript">
    $(document).ready(
function () {
    styleGrid();
});

    function styleGrid() {
        $('.webGrid .color').each(function (index, element) { $(element).parent().css('background-color', $(element).html()); });
    }

    function openPopupLink(tempData, paramId) {
        tempData = paramId;
        $('#dialogCommon').dialog('open');
        return false;
    }
</script>
@{
    var grid = new WebGrid(Model, canPage: true, rowsPerPage: 12,
        selectionFieldName: "selectedRow",
        ajaxUpdateContainerId: "gridContent",
        ajaxUpdateCallback: "styleGrid");
    //grid.Pager(WebGridPagerModes.NextPrevious);
}
<div id="gridContent">
    @{
        var gridColumns = new List<WebGridColumn>();
        gridColumns.Add(grid.Column("LenderName", "Lender Name", format: (item) => Html.ActionLink(((object)item.LenderName).ToString(), "UploadStatusDetail", "ExcelUploadView_", new { id = item.LenderID, strSelectedQtr = item.ReportingPeriod }, null), style: "descriptLeft"));
        //gridColumns.Add(grid.Column("LenderName", "Lender Name", format: (item) => new HtmlString("<a onclick=\"g_modal_paramId=" + item.LenderID + ";$('#dialogCommon').dialog(g_popup_options).dialog('open');return false;" +"\" >" + item.LenderName +"</a>"), style: "descriptLeft"));
        gridColumns.Add(grid.Column("TotalExpected", "Total Expected", style: "descriptNum"));
        gridColumns.Add(grid.Column("Received", "Received", style: "descriptNum"));
        // gridColumns.Add(grid.Column("Missing", "Received", style: "descriptNum"));
        gridColumns.Add(grid.Column("Missing", "Missing", format: (item) => Html.ActionLink(((object)item.Missing).ToString(), "MissingProjectDetail", "ExcelUploadView_", new { id = item.LenderID, selectedQtr = item.ReportingPeriod }, null), style: "descriptNum"));   
        
    }
    @if (Model.Count > 0)
    {
        @grid.GetHtml(tableStyle: "webGrid",
            headerStyle: "header_row",
            rowStyle: "item_row",
            alternatingRowStyle: "item_alt_row",
            selectedRowStyle: "select",
            //displayHeader: Model.Count > 0 ? true : false,
            mode: WebGridPagerModes.All,
            firstText: "<< First",
            previousText: "< Prev",
            nextText: "Next >",
            lastText: "Last >>",
            columns: gridColumns.ToArray())
    }
</div>
@{
    if (!string.IsNullOrEmpty(ViewBag.MissingProjectParam))
    {
        <div id="dvMissingProjRep">
            @Html.Partial("_MissingProjectGrid");
        </div>
    }
}
