﻿@model UploadStatusChartModel
@{
    ViewBag.Title = "Upload Status Chart";
}

    <div id="dvUpdate" style="position: relative; left: 5px; top: 20px;">
    <table>
        <tr>
            <td colspan="2" style="text-align:center;font-weight:bold;"><span id="strTotalCnt"></span></td>
        </tr>
        <tr>
            <td>
                <div id="pie_chart" style="width:320px; height:320px;"></div>
                <div id="legend"></div>
            </td>
        </tr>
    </table>
</div>
<style type="text/css">
    #legend {
        /*float: right;*/
        margin-left:100px;
        margin-top: 0px;
        margin-right: 30px;
    }
</style>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    // <![CDATA[
    google.load("visualization", "1", { packages: ["corechart"] });
    google.setOnLoadCallback(drawChart);

    function drawChart() {
        var tdata = new google.visualization.DataTable();
        var selectedColors = [];
        selectedColors.push('#92D050');
        selectedColors.push('#FF7C80');
        var data = @Html.Raw(Json.Encode(Model));
        tdata.addColumn('string', 'Status');
        tdata.addColumn('number', 'Count');
        var chartData = [];

        if (data.Expected == 0) {
            chartData.push(["No data", 100]);
        }
        else  {                     
            tdata.addColumn({ type: 'string', role: 'style' });
            tdata.addColumn({ type: 'string', role: 'annotation' });
            chartData.push(["Received", data.Received, 'color: #92D050', "Received"]);
            chartData.push(["Missing", data.Missing, 'color: #FF7C80', "Missing"]);
        }
              
       
        tdata.addRows(chartData);

        var   totalCnt = data.Expected;
        $("#strTotalCnt").html(totalCnt + " Expected Projects to Upload");
        var options;
        if (data.Expected == 0) {
            options = {
                title: "",                    
                pieSliceText: 'label',
                is3D: true,
                legend: { position: 'none' },
                tooltip: { trigger: 'none' }
            };
        }
        else {
            options = {
                title: "",
                chartArea: { width: 240, height: 240 },
                colors: selectedColors,
                pieSliceText: 'value',
                legend: "none",
                is3D: true,
                tooltip: {text: 'value'}
            };
        }
        var chartPie = new google.visualization.PieChart(document.getElementById('pie_chart'));
        chartPie.draw(tdata, options);
        if(data.Expected > 0){
            
            var legend = document.getElementById("legend");
            var legItem = [];
            var colors = ['#92D050', '#FF7C80'];
            for (var i = 0; i < tdata.getNumberOfRows(); i++) {
                var label = tdata.getValue(i, 0);
                var value = tdata.getValue(i, 1);
                var total = data.Expected;
                var percent = Number(100 * value / total).toFixed(3);

                // This will create legend list for the display
                legItem[i] = document.createElement('li');
                legItem[i].id = 'legend_' + label;
                legItem[i].innerHTML = '<div class="legendMarker"> <span style="color:' + colors[i] + ';">' + label + ': ' + value + ' (' + percent + '%)</span></div>';

                legend.appendChild(legItem[i]);
            }
        }
    }

    // ]]></script>

