﻿@model ExcelUploadView_Model

@{
    ViewBag.Title = "ProjectDetail";
}
@section Styles {
    <script src="~/Scripts/select2.js"></script>
    <link href="~/Content/select2/select2.css" rel="stylesheet" />
}
<script type="text/javascript">
    $(document).ready(function () {
        var selectedquarter = '@TempData["ReportingPeriod"]';
        var strValue = selectedquarter.split("/");
        var reportingPeriod = "";
        if (strValue.length > 0) {
            if (strValue[0] == "3") {
                reportingPeriod = "Q1 " + strValue[1];
            } else if (strValue[0] == "6") {
                reportingPeriod = "Q2 " + strValue[1];
            } else if (strValue[0] == "9") {
                reportingPeriod = "Q3 " + strValue[1];
            } else if (strValue[0] == "12") {
                reportingPeriod = "Q4 " + strValue[1];
            }
        }
        $("#reportingPeriodValue").text(reportingPeriod);

        //$("#bcHolder").text("Home > Financial Analysis > My Upload Report > My Upload Report List > Project Detail");
    }
);

</script>
<h4 style="text-align:center;">Project Detail</h4>
<div class="container-fluid">
    <div class="row">
        <span class="col-md-6 text-right">
            @Html.DisplayNameFor(model => model.ProjectName):
        </span>
        <span class="col-md-6">
            @Html.DisplayFor(model => model.ProjectName)
        </span>
    </div>
    <div class="row">
        <span class="col-md-6 text-right">
            @Html.DisplayNameFor(model => model.ServiceName):
        </span>
        <span class="col-md-6">
            @Html.DisplayFor(model => model.ServiceName)
        </span>
    </div>
    <div class="row">
        <span class="col-md-6 text-right">
            @Html.DisplayNameFor(model => model.FHANumber):
        </span>
        <span id="cellFhaNum" class="col-md-6">
            @Html.DisplayFor(model => model.FHANumber)
        </span>
        <span id="cellLDI_ID">
            @Html.HiddenFor(model => model.LDI_ID)
        </span>
    </div>
    <div class="row">
        @if (TempData["ReportingPeriod"] != null && TempData["ReportingPeriod"] != "")
        {
            <span class="col-md-6 text-right">
                @Html.DisplayName("Reporting Period: ")
            </span>
            <span class="col-md-6">
                @Html.Label("Reporting Period: ", new { id = "reportingPeriodValue" })
            </span>
        }
</div>
    @*@if (RoleManager.IsHUDAdmin(UserPrincipal.Current.UserName))
    {*@ 
    <div class="row col-md-12" style="width:1230px; height:400px; overflow:auto; margin-top:5px;">
        <div>
            <div style="margin-bottom:5px;"><input id="btnComment" type="button" value="New Comment" class="btn" /></div>
            <div id="dvComments">
                <div id="dvTo">
                    <span>
                        <b>To: </b>
                        <input id="emailTo" name="EmailTo" type="text" value="" style="width:400px;" readonly="readonly" />
                    </span>
                    <span style="padding-left:50px;" id="spEmails">
                        <b>Add more recipients: </b>
                        <input id="emailRecipients" name="EmailRecipients" type="text" value="" style="width:400px;" />
                    </span>
                </div>
                <div style="margin-bottom:5px;">
                    <input id="txtSubject" type="text" style="width:100%;" placeholder="Subject" />
                </div>
                <div><textarea id="txtComment" style="width:100%;" placeholder="Comments"></textarea></div>
                <div>
                    <input id="btnSubmit" type="button" value="Add Comment" class="btn" />
                    <input id="btnCancel" type="button" value="Cancel" class="btn" />                                    
                </div>
            </div>
        </div>
        <hr />
        <div id="dvUpdate">
            @if (Model.Comments != null)
            {
                @Html.Partial("CommentsTemplate", Model.Comments);
            }
        </div>
    </div>
    @*}*@
</div>

<script type="text/javascript">
    $(document).ready(
        initialize());
    $('#btnComment').click(function () {
        $("#txtComment").show();
        $("#txtComment").focus();
        $("#txtSubject").show();
        $("#txtComment").val("");
        $("#txtSubject").val("");
        $("#btnSubmit").show();
        $("#btnCancel").show();
        $("#dvComments").off("click").on("click", "#btnSubmit", function (event) { addComment(); });

        initializeEmailSelector();
    });

    $('#btnCancel').click(function () {
        $("#txtComment").hide();
        $("#txtSubject").hide();
        $("#txtComment").val("");
        $("#txtSubject").val("");
        $("#btnSubmit").hide();
        $("#btnCancel").hide();
        //$("#spEmails").hide();
        $("#dvTo").hide();
        //$("#dvComments").off("click").on("click", "#btnSubmit", addComment);
    });

    function initialize() {
        $("#txtComment").hide();
        $("#txtSubject").hide();
        $("#btnCancel").hide();
        var btnSubmit = $("#btnSubmit");
        btnSubmit.hide();
        //$("#spEmails").hide();
        $("#dvTo").hide();
    }

    function replyClicked(nodeId) {
        $("#txtComment").val("");
        $("#txtSubject").val("");
        $("#txtComment").show();
        $("#txtComment").focus();
        $("#btnSubmit").show();
        $("#btnCancel").show();
        $("#dvComments").off("click").on("click", "#btnSubmit", function (event) { addComment(nodeId); });
        initializeEmailSelector(nodeId);
    }

    function populateToField(nodeId)
    {
        var url = '@Url.Action("GetToEmailRecipients", "Comment")';
        var ldiID = $("#cellLDI_ID > :input").val();
        var guid = "";
        if (nodeId)
            guid = nodeId;
        $.ajax({
            cache: false,
            url: url,
            data: { "nodeId": guid, "ldiID": ldiID },
            dataType: 'json',
            contentType: "application/json; charset=utf-8",
            type: 'GET',
            success: function (data) {
                $("#emailTo").val(data);
            }
        });
    }

    function initializeEmailSelector(nodeId)
    {
        //$("#spEmails").show();
        populateToField(nodeId);
        $("#dvTo").show();
        var userQueryUrl = '@Url.Action("SearchByFirstOrLastNamePageSort", "Account")';
        var pageSize = 20;
        $("#emailRecipients").select2("val", "");
        $("#emailRecipients").select2({
            placeholder: 'Enter First or Last Name of Email Recipient',
            //Does the user have to enter any data before sending the ajax request
            minimumInputLength: 1,
            multiple: true,
            allowClear: true,
            ajax: {
                cache: false,
                //How long the user has to pause their typing before sending the next request
                quietMillis: 100,
                //The url of the json service
                url: userQueryUrl,
                dataType: 'json',
                type: 'GET',
                //Our search term and what page we are on
                data: function (term, page) {
                    return {
                        pageSize: pageSize,
                        pageNum: page,
                        searchTerm: term
                    };
                },
                results: function (data, page) {
                    //Used to determine whether or not there are more results available,
                    //and if requests for more data should be sent in the infinite scrolling
                    var more = data.length > 0 ? (page * pageSize) < data[0].Total : false;
                    return { results: data, more: more };
                }                
            },
            formatSelection: function (item) {
                return item.FirstName + " " + item.LastName;
            },
            formatResult: function (item) {
                return item.FirstName + " " + item.LastName + ", " + item.Email + ", (" + item.Organization + ")";
            }
        });
    }

    function getToRecipients()
    {

    }

    function addComment(nodeId) {
        if ($("#txtComment").val().trim() == "") {
            alert("You haven't entered any comments.");
            return false;
        }

        if ($('#txtSubject').is(':visible') && $("#txtSubject").val().trim() == "") {
            alert("You haven't entered any subject.");
            return false;
        }
        //var fhaID = $("#cellFhaNum").text().replace(/\r?\n/g, '').replace(/ /g, '');
        var ldiID = $("#cellLDI_ID > :input").val();
        var guid = "";
        var addedEmailRecipients = $("#emailRecipients").select2("val");
        if (nodeId)
            guid = nodeId;
        $.ajax({
            cache: false,
            type: "GET",

            url: "@Url.Action("AddComment", "Comment")",
            data: {
                "parentNodeId": guid, "ldiID": ldiID, "subject": $("#txtSubject").val(),
                "comment": $("#txtComment").val(), "addedEmailRecipients": addedEmailRecipients.toString()
            },
            dataType: 'html',
            success: function (data) {
                initialize();
                $("#dvUpdate").html('');
                $("#dvUpdate").html(data);
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert('Failed to add comment.');
            }
        });
    }

</script>
