﻿@model HUDHealthcarePortal.Model.ProjectActionViewModel
@using HUDHealthcarePortal.BusinessService
@using HUDHealthcarePortal.Model.ProjectAction 
@{
    ViewBag.Title = "Project Action Checklist";
}

<script src="~/Scripts/jquery-ui-1.9.2.min.js"></script>
<script src="/Scripts/jquery.iframe-transport.js"></script>

<style>
    .specialContainer {
        display: inline-block;
        vertical-align: top;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    #hold {
        display: block;
        padding: 10px 10px;
        width: 100%;
        max-height: 600px;
    }

    table#projActionTable {
        width: 100%;
        max-height: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        background: white;
        overflow-y: scroll;
        height: 600px;
        display: block;
    }

    .content,
    .header,
    .container {
        width: 100%;
        max-height: 100%;
    }


    .header {
        color: black;
        text-align: center;
    }

    .container {
        background: white;
    }

    .sidebar {
        width: 10%;
        background: white;
        color: white;
        float: left;
    }

    .content {
        width: 90%;
        position: relative;
    }

    h4 {
        margin: 0;
    }

    th {
        text-align: center;
    }

    .col1 {
        width: 60%;
    }

    .col2 {
        width: 20%;
    }

    .col3 {
        width: 20%;
    }

    .col4 {
        width: 12%;
    }

    td.col1 {
        text-align: left;
    }

    td.col2 {
        text-align: center;
    }

    td.col3 {
        text-align: center;
    }

    .fileClass {
        width: 75px !important;
        padding: 5px !important;
    }

    /*!
       * Helpers to hide text field in type = "file", and present buttons consistently.
       */

    /* Hide the file input using opacity */
    [type=file] {
        position: absolute;
        filter: alpha(opacity=0);
        opacity: 0;
    }

    [type=file] + label {
        font-weight: bold;
        border: 1px solid #CCC;
        border-radius: 3px;
        text-align: left;
        padding: 10px;
        margin: 0;
        left: 0;
        position: relative;
    }

    [type=file] + label {
        font-weight: bold;
        text-align: center;
        border-radius: 3px;
        left: 0em;
        top: 0.5em;
        /* Decorative */
        background: #333;
        color: #fff;
        border: none;
        cursor: pointer;
    }

    [type=file] + label:hover {
        background: #3399ff;
    }

    [type=button], [type=submit] {
        border: 1px solid #CCC;
        border-radius: 3px;
        text-align: left;
        padding: 10px;
        width: 75px;
        margin: 0;
        left: 0;
        position: relative;
    }

    [type=button], [type=submit] {
        border: 1px solid #CCC;
        border-radius: 3px;
        text-align: center;
        font-weight: bold;
        left: 0em;
        top: 0.5em;
        /* Decorative */
        background: #333;
        color: #fff;
        border: none;
        width: 75px;
        cursor: pointer;
    }

    #projActionTable a {
        text-align: center;
        font-weight: bold;
        color: #3399ff;
        text-decoration: underline;
    }

    [type=button]:hover, [type=submit]:hover {
        background: #3399ff;
    }

    .noDocument {
        color: red;
        font-weight: bold;
    }
</style>
<section id="UploadCheckListform" style="width: 1200px; height: 1150px;">
    <div id="dialogCommon"></div>
    @using (Html.BeginForm("ApproveOrDeny", "ProjectActionRequest", FormMethod.Post, new {enctype = "multipart/form-data", style = "margin:auto;", id = "projectaActionFrm"}))
    {
        @Html.HiddenFor(m => m.FhaNumber, new {id = "FhaNumber"})
        @Html.HiddenFor(m => m.GroupTaskId, new {id = "GroupTaskId"})
        @Html.HiddenFor(m => m.GroupTaskInstanceId, new {id = "GroupTaskInstanceId"})
        @Html.HiddenFor(m => m.ProjectActionTypeId, new {id = "ProjectActionTypeId"})
        @Html.HiddenFor(m => m.ProjectActionFormId, new {id = "ProjectActionFormId"})
        @Html.HiddenFor(m => m.GroupTaskCreatedOn, new {id = "GroupTaskCreatedOn"})
        @Html.HiddenFor(m => m.CreatedOn, new {id = "CreatedOn"})
        @Html.HiddenFor(m => m.CreatedBy, new {id = "CreatedBy"})
        @Html.HiddenFor(m => m.ModifiedBy, new {id = "ModifiedBy"})
        @Html.HiddenFor(m => m.ModifiedOn, new {id = "ModifiedOn"})
        @Html.HiddenFor(m => m.ProjectActionDate, new {id = "ProjectActionDate"})
        @Html.HiddenFor(m => m.RequestDate, new {id = "RequestDate"})
        @Html.HiddenFor(m => m.ServicerSubmissionDate, new {id = "ServicerSubmissionDate"})
        @Html.HiddenFor(m => m.PropertyName, new {id = "PropertyName"})
        @Html.HiddenFor(m => m.RequestStatus, new {id = "RequestStatus"})
        @Html.HiddenFor(m => m.AssignedBy, new {id = "AssignedBy"})
        @Html.HiddenFor(m => m.IsAgreementAccepted, new {id = "IsAgreementAccepted"})
        @Html.HiddenFor(m => m.IsEditMode, new {id = "IsEditMode"})
        @Html.HiddenFor(m => m.ProjectActionName, new {id = "ProjectActionName"})
        @Html.HiddenFor(m => m.SequenceId, new {id = "SequenceId"})
        @Html.HiddenFor(m => m.TaskGuid, new {id = "TaskGuid"})
        @Html.HiddenFor(m => m.IsPAMReport, new { id = "IsPAMReport" })
        @Html.HiddenFor(m => m.IsLoggedInUserLender, new { id = "IsLoggedInUserLender" })
        @Html.HiddenFor(m => m.IsReassigned, new { id = "IsReassigned" })
        @Html.HiddenFor(m => m.ServicerComments, new { id = "ServicerComments" })
    <input type="hidden" id="nextBtn" name="nextBtn" value="next" />
        <div class="hold specialContainer">
            <div class="header specialContainer">
                @Html.LabelForModel(Model.ProjectActionName) <br/> Upload Check List
            </div>
            <div class="container specialContainer">
                <div class="sidebar specialContainer" id="">
                    @if (Model.IsEditMode)
                    {
                        if (Model.IsDisplayApproveBtn)
                        {
                            <input type="submit" value="Approve" id="btnApprove" style="width: 75px !important; padding: 5px !important"/>
                            <div style="height: 15px"></div>
                        }
                        <input type="submit" value="Deny" id="btnDeny" style="width: 75px !important; padding: 5px !important"/>
                    }
                    <div style="height:15px"></div>
                    @if (RoleManager.IsAccountExecutiveRole(UserPrincipal.Current.UserName))
                    {
                        <input type="button" id="btnPrevious" value="Previous" style="width: 75px !important; padding: 5px !important" />
                    }
                    <div style="height:15px"></div>
                    @if (Model.IsEditMode)
                    {
                        <input type="button" id="btnSave" value="Save" style="width: 75px !important; padding: 5px !important" onclick=" AECheckList.ApproveChecklistQuestions() "/>
                    }
                    <input type="button" id="btnReload" value="Reload" style="width: 75px !important; padding: 5px !important;visibility:hidden" onclick="AECheckList.ReloadPageOnSave()"  />
                </div>

                <div class="content specialContainer">
                    <table id="projActionTable" width="100%">
                        <thead>
                            <tr>
                                <th class="col1"><label><small>Documents</small></label></th>
                                <th class="col2"><label><small>Download</small></label></th>
                                <th class="col2"><label><small>Approved</small></label></th>
                                <th class="col2"><label><small>Status</small></label></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int counter = 0;
                                QuestionViewModel previousQuestion = null;
                            }
                            <tr style="height : 10px"><td colspan="2"></td></tr>
                            @foreach (var item in Model.Questions)
                            {
                                <tr>
                                    <td class="col1">
                                        <div style="padding-top: 15px; margin-left: @((item.Level)*30 + 5)px;">
                                            @if (item.Level == 0)
                                            {
                                                //exceptional case
                                                if (previousQuestion == null || (previousQuestion != null && previousQuestion.QuestionId != item.QuestionId))
                                                {
                                                    counter++;
                                                    @Html.Raw(@counter.ToString() + "." + item.Question)

                                                }
                                                else
                                                {
                                                    @Html.Raw("  " + item.Question)
                                                }
                                            }
                                            else
                                            {
                                                @Html.Raw(item.Question)
                                            }
                                            @Html.Hidden(item.CheckListId.ToString())
                                            @{
                                                previousQuestion = item;
                                            }
                                        </div>
                                    </td>
                                    <td class="col2">
                                        <div>
                                            @if (String.IsNullOrEmpty(item.FileName))
                                            {
                                                if(item.IsAttachmentRequired)
                                                {
                                                    @Html.Raw("<span class=\"noDocument\">No document provided</span>")
                                                }
                                            }
                                            else
                                            {
                                                @Html.ActionLink(item.FileName, "DownloadTaskFile", new {taskInstanceId = Model.GroupTaskInstanceId.ToString(), taskFileType = item.CheckListId.ToString()}, new {@class = "downloadLink"})
                                            }
                                        </div>
                                    </td>
                                    <td class="col3">
                                        <div>
                                            @if (item.IsAttachmentRequired)
                                            {
                                                var chkId = "chk" + item.CheckListId;
                                                var selected = @item.Status == "A";
                                                <input type="checkbox" id="@chkId" onclick="AECheckList.OnClickApproveCheckbox('@item.CheckListId')" checked="@selected" />
                                            }
                                        </div>
                                    </td>
                                    <td class="col4">
                                        <div>
                                            @if (item.IsAttachmentRequired)
                                            {
                                                @Html.Raw("<span>"+item.Status+"</span>")
                                            }
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="row" style="padding-top: 15px">
                        <span class="col-md-2 text-left" style="padding-left: 15px;">
                            @Html.Label("AE Comments")
                        </span>
                        @if (Model.IsEditMode)
                        {
                            <span class="col-md-4">
                                @Html.TextAreaFor(m => m.AEComments, new { @style = "height:70px;width:300px;", maxlength = "500" })
                            </span>
                        }
                        else
                        {
                            <span class="col-md-4">
                                @Html.LabelForModel(Model.AEComments ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
                            </span>
                        }

                    </div>
                </div>
            </div>
            <hr />
            @if (Model.IsPAMReport)
            {
                <div style="text-align: center">
                    @Html.ActionLink("Return to PAM Report", "Index", "PAMReport", new {wlmIds = ViewData["wlmIds"], aeIds = ViewData["aeIds"], fromDate = ViewData["fromDate"], toDate = ViewData["toDate"], status = ViewData["status"], projectAction = ViewData["projectAction"], page = ViewData["page"], sort = ViewData["sort"], sortdir = ViewData["sortdir"]}, new {style = "text-decoration:underline"})
                </div>
            }
            else if (Model.IsViewFromGroupTask)
            {
                <div style="text-align: center">
                    @Html.ActionLink("Return to my Group Tasks", "Index", "GroupTask", new { page = TempData["page"], sort = TempData["sort"], sortdir = TempData["sortdir"] }, new { style = "text-decoration:underline" })
                </div>
            }
            else if(Model.IsReassigned.HasValue && Model.IsReassigned.Value == true)  
              {
                <div style="text-align: center">
                    @Html.ActionLink("Return to My Reassigned Tasks", "MyReAssignmentTasks", "TaskReAssignment", new { page = TempData["page"], sort = TempData["sort"], sortdir = TempData["sortdir"] }, new { style = "text-decoration:underline" })
                </div>
              }
            else
            {
                <div style="text-align: center">
                    @Html.ActionLink("Return to My Tasks", "MyTasks", "Task", new { page = TempData["page"], sort = TempData["sort"], sortdir = TempData["sortdir"] }, new { style = "text-decoration:underline" })
                </div>
            }
        </div>
    }
</section>
<script>
    var settingsObject = @Html.Raw(Json.Encode(ViewBag));
</script>
<script>
    $(document).ready(function () {

        if ('@Model.IsApprovedPopupDisplayedForAe' == 'True') {
            disableAllLinks();
            $('#dialogCommon').dialog('open');
        }
        $('#dialogCommon').dialog({
            title: '@TempData["Title"]',
            autoOpen: '@TempData["bAutoOpen"]' == 'True' ? true : false,
            autoOpen: false,
            resizable: '@TempData["bResizable"]' == 'True' ? true : false,
            height: '@TempData["winHeight"]',
            width: '@TempData["winWidth"]',
            show: { effect: 'fade' },
            modal: true,
            draggable: '@TempData["bDraggable"]' == 'True' ? true : false,
            closeOnEscape: false,
            close: function(event, ui) {
                $(this).dialog('close');
            },
            open: function(event, ui) {
                $(this).load('@TempData["sLoadUrl"]', { id: g_modal_paramId });
                if ('@TempData["bShowCloseBtn"]' == 'False')
                    $('.ui-dialog-titlebar-close').hide();
            }
        });

        function disableAllLinks() {
            links = document.getElementsByTagName('A');
            buttons = document.getElementsByTagName('input');

            for (var i = 0; i < links.length; i++) {
                links[i].href = "javascript:return false";
            }

            for (var i = 0; i < buttons.length; i++) {
                buttons[i].disable = true;
            }
        };


    });


    var AECheckList = (function() {
        var checkListAprove = new Array();
        var projectActionViewModel = {};
        var prjActionFormId;

        var findElement = function(checkListId, checked) {
            var flag = false;
            $.each(checkListAprove, function(idex, obj) {
                if (obj.CheckListId == checkListId) {
                    obj.Status = checked == true ? 'A' : '';
                    flag = true;
                }
            });
            if(flag == true)
                return true;
            else
            return false;
        }
        var prepareCheckListApproveArray = function (chkBox, checkListId) {
            if(findElement(checkListId,chkBox.checked) == false) {
                  var QuestionViewModel ={};
                  QuestionViewModel.CheckListId = checkListId;
                  QuestionViewModel.Status = chkBox.checked == true ? 'A' : ''; 
                  checkListAprove.push(QuestionViewModel);
                }
        };

        return {
            InitView: function () {
                var settings = window.settingsObject;
                $('#btnPrevious').click(function() {
                    $('form#projectaActionFrm').attr('action', settings.GoProjectActionFormURL);
                    $('form#projectaActionFrm').submit();
                });

                $('#btnReload').click(function() {
                    $('form#projectaActionFrm').attr('action', settings.GoToCheckListForm);
                    $('form#projectaActionFrm').submit();
                });


                $('#btnApprove').click(function() {
                    $('#RequestStatus').val('2');
                });

                $('#btnDeny').click(function() {
                    $('#RequestStatus').val('5');
                });

                var requestStatus = $('#RequestStatus').val();
               
                if ($('#IsLoggedInUserLender').val() == 'True' || requestStatus == '2' || requestStatus == '5') {
                    $("input:checkbox").attr('disabled', 'true'); //disable
                }

            },
            OnClickApproveCheckbox : function(checkListId) {
                var chkBox = document.getElementById("chk"+checkListId);
                prepareCheckListApproveArray(chkBox, checkListId);
            },
            ApproveChecklistQuestions: function () {
                prjActionFormId = $("#ProjectActionFormId").val();
                projectActionViewModel.ProjectActionFormId = prjActionFormId;
                projectActionViewModel.Questions = checkListAprove;
                $.ajax({
                    url: '@Url.Action("ApproveCheckListForm", "ProjectActionRequest")',
                    cache: false,
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    data:  JSON.stringify(projectActionViewModel),
                    success: function(data) {
                        if (data.success == false) {
                              alert(data.message);
                              return false;
                           }
                          alert('Successfully saved Check list items');
                          $('#btnReload').click();
                        return true;
                    } ,
                    error: function(XMLHttpRequest, textStatus, errorThrown) {
                        alert("Error: " + errorThrown);
                    }
                });
            }
        }
    }());

    $(document).ready(function () {
        AECheckList.InitView();
    });
</script>