﻿@model OPAViewModel
<link href="~/Content/ui.jqgrid.css" rel="stylesheet" />
<script src="~/Scripts/free-jqGrid/jquery.jqGrid.min.js"></script>
<link href="~/Content/themes/redmond/jquery-ui-1.12.1.custom/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="~/Content/themes/redmond/jquery-ui-1.12.1.custom/jquery-ui.js"></script>

<div id="UploadGriDiv">
    <table id="hudfileUploadGrid"></table>
    <div id="fileUploadGridPager"></div>
</div>

<script type="text/javascript">
            $(document).ready(function () {
                function reloadGrid() {
                    location.reload();
                    $("#hudfileUploadGrid").trigger("reloadGrid");
                }                

                $("#hudfileUploadGrid").jqGrid({
                    colNames: ['folderNodeId', 'Folder View', 'level', 'parent', 'isLeaf', 'expanded', 'loaded', 'File Name', 'File Size(KB)', 'File Uploaded Date','File Id', /*'New File Name',*/'Status'],
                    colModel: [
                         { name: 'id', index: 'id', width: 150, editable: false, hidden: true, sortable: false },
                         { name: 'folderNodeName', index: 'folderNodeName', width: 220, editable: false, hidden: false, sortable: false, align: 'left' },
                         { name: 'level', index: 'level', width: 150, editable: false, hidden: true, sortable: false },
                         {name: 'parent', index: 'parent', width: 130, editable: false, hidden: true, sortable: false,
                             formatter: function (cellvalue, options, rowObject) {
                                 if (rowObject.parent == null) {
                                     return "null"
                                 }
                                 else {
                                     return cellvalue;
                                 }
                             }
                         },
                         { name: 'isLeaf', index: 'isLeaf', width: 150, editable: false, hidden: true, sortable: false },
                         { name: 'expanded', index: 'expanded', width: 150, editable: false, hidden: true, sortable: false },
                         { name: 'loaded', index: 'loaded', width: 150, editable: false, hidden: true, sortable: false },
                         { name: 'fileName', index: 'fileName', type: 'link', width: 210, editable: false,
                             cellattr: function (cellvalue, options, rowObject) {
                                 if (rowObject.fileName != null) {

                                     return ' style="text-decoration: underline"';
                                 }
                             },
                             formatter: function (cellvalue, options, rowObject) {
                                 if (rowObject.fileName == null) {
                                     return " "
                                 }
                                 else {
                                     //return '<a onclick="event.preventDefault();" href="/OPAForm/DownloadTaskFile/?taskfileid=' + (rowObject.fileId) + '">' + rowObject.fileName + '</a>';
                                     return '<a onclick="event.preventDefault(); getFile(' + (rowObject.fileId) + ');" href="#" >' + rowObject.fileName + '</a>';
                                 }
                             }
                         },
                         {name: 'fileSize', index: 'fileSize', editable: false, width: 90,
                           formatter: function (cellvalue, options, rowObject) {
                               if (rowObject.fileName == null) {
                                   return " "
                               }
                               else {
                                   return cellvalue;
                               }
                           }
                         },
                         { name: 'uploadDate', index: 'uploadDate', editable: false, formatter: 'date', width: 100, formatoptions: { newformat: 'm/d/Y' } },
                         { name: 'fileId', index: 'fileId', editable: true, hidden: true },
                         //{ Key: false, name: 'FileId', index: 'FileId', width: 150, sortable: false},
                         //{ name: 'act', index: 'act', width: 90, sortable: false },
                         //{ name: 'DocTypeID', index: 'DocTypeID', width: 150, editable: false, hidden: true, sortable: false },
                         //{ name: 'DocTypesList', index: 'DocTypesList', width: 150, editable: false, hidden: true, sortable: false },
                         { name: 'Status', index: 'Status', width: 150, editable: false, hidden: true, sortable: false },
                    ],
                    url: "/LoanCommitteeScheduler/GetWPUpload?taskInstanceId=" + "@Model.TaskInstanceId",
                    datatype: 'json',
                    mtype: 'POST',
                    pager: jQuery('#fileUploadGridPager'),
                    rowNum: 10,
                    loadonce: false,
                    rowList: [10, 20, 30, 40],
                    shrinkToFit: false,
                    height: 290,
                    viewrecords: true,
                    multiselect: false,
                    gridview: true,
                    autoencode: true,
                    treeGrid: true,
                    autoRowHeight: false,
                    rownumbers:false,
                    treeGridModel: 'adjacency',
                    treedatatype: "local",
                    ExpandColumn: 'folderNodeName',
                    sortname: 'id',
                    width: 640,
                    //caption: 'File Upload Grid',
                    emptyrecords: 'No records to display',
                    jsonReader: {
                        root: "rows",
                        page: "page",
                        total: "total",
                        records: "records",
                        repeatitems: false
                    },
                });
            });
</script>